@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
    <div class="row gy-5 g-xl-8">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row">
              <!--begin: total value -->
              <div class="col-md-4 text-center">
                        <h5 class="card-title fw-bolder">Plywood Sheets Required</h5>
                  <span class="text-danger fw-bolder" style="font-size: 30px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerSheetsNo))</span>
                 
                        
              </div>
              <!--end: total value -->
              <!--begin: total value -->
              <div class="col-md-8 text-center">
                        <h5 class="card-title fw-bolder">
                            Plywood sheets calculation
                        </h5>
                  <div class="text-center ">
                      <div class="row">
                          <div class="col-sm-6">
                                    <h5 class="card-title fw-bolder text-primary mb-5">Room Area </h5>
                                    <span class="text-danger fw-bolder text-primary m-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerRoomAreaMeterAndCMValue))</span><b>|</b>
                                    <span class="text-danger fw-bolder text-primary mx-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerRoomAreaFeetAndInchValue))</span>
                          </div>
                          <div class="col-sm-6">
                                    <h5 class="card-title fw-bolder text-primary mb-5">Plywood Cover </h5>
                                    <span class="text-danger fw-bolder text-primary m-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerPlywoodCoverMeterAndCMValue))</span><b>|</b>
                                    <span class="text-danger fw-bolder text-primary mx-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerPlywoodCoverFeetAndInchValue))</span>
                          </div>
                      </div>
                      <br />
                      <br />
                  </div>
              </div>
              <!--end: total value -->
            </div>
          </div>
        </div>
      </div>
    </div>
 <!--end : first table-->
<!-- begin : calculation steps  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <div class="card shadow-sm table-responsive">
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;@Model.CalculatorName
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h4 class="bold">Room Area</h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblRoomAreaFormula))</label>
                        </blockquote>

                    </div>
                    <div class="col-md-4 text-center">
                        <h4 class="bold">Plywood Cover</h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPlywoodCoverFormula))</label>

                        </blockquote>

                    </div>
                    <div class="col-md-4 text-center">
                        <h4 class="bold">No. of Sheets Required</h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPlywoodSheetsFormula))</label>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end : calculation steps -->

<!-- begin : Page setiion 1  -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                    <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What is plywood sheets calculator?
                        </h3>
                    </div>
                    <!--end :card header-->
                    <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <!--begin :main section-->
                            <div class="col-md-12">
                                <div class="card-p">
                            <p>
                                Plywood as a building material is very widely used due to its many useful properties. It is an economical, factory-produced sheet of wood with precise dimensions that does not warp or crack with changes in atmospheric moisture. Ply is an engineered wood product made from three or more &#39;plies&#39; or thin sheets of wood. These are glued together to form a thicker, flat sheet. The logs used to make plywood as a building material are prepared by steaming or dipping in hot water. They are then fed into a lathe machine, which peels the log into thin plies of wood. each ply is usually between 1 and 4mm thick.<br />
                                <br />
                                Types of Plywood:
                            </p>

                            <ul>
                                <li>
                                    Exterior Plywood:<br />
                                    The next one is exterior plywood. This type of plywood is bound together by a water-resistant glue and is typically for outdoor use. While exterior plywood is water-resistant, it is still recommended to finish the surface of with paint to help it be more durable against elements like the sun. Suitable applications for exterior plywood are:
                                    <ul>
                                        <li>Walls</li>
                                        <li>Outdoor floorings</li>
                                        <li>Roof linings</li>
                                        <li>Stables</li>
                                    </ul>
                                </li>
                                <li>
                                    Interior Plywood:<br />
                                    The third is interior plywood and its purpose is more aesthetic than durability. Interior plywood is mainly used indoors and should not be exposed to the outdoor elements as it will degrade quickly. Here are some suitable uses for interior plywood:
                                    <ul>
                                        <li>Indoor furniture</li>
                                        <li>Ceilings</li>
                                        <li>Interior cladding</li>
                                    </ul>
                                </li>
                            </ul>

                                </div>
                            </div>
                            <!--end :main section-->
                        </div>
                        <hr />
                        
                        <div class="row card-body">
                            <div class="col-md-7">
                            <div class="table-responsive">
                            <h5 class="bold card-title">
                                Formula for plywood sheets calculation
                            </h5>
                            <blockquote>
                                <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>Room area</mi><mo>=</mo><mi>Room Length</mi><mo>&#xD7;</mo><mi>Room Width</mi></math>
                                <br />
                                <br />
                                <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>Plywood cover</mi><mo>=</mo><mi>Plywood Length</mi><mo>&#xD7;</mo><mi>Plywood Width</mi></math>
                                <br />
                                <br />
                                <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>No. of sheets required</mi><mo>=</mo><mfrac><mi>Room Area</mi><mi>Plywood Cover</mi></mfrac></math>
                            </blockquote>
                            </div>
                            </div>
                            <div class="col-md-5" align="center">
                        <img id="ctl00_cphPageContent_imgClayBricks" title="Plywood Sheets" data-bs-toggle="tooltip" class="img img-fluid" src="~/ClinetPanel/img/Quantity-Estimator/Plywood.jpg" alt="Plywood Sheets" style="border-width:0px;">
                            </div>
                    </div>
                </div>
                    <!--end :card body-->
                </div>
                <!--end :card -->
            </div>
        </div>
<!-- end : Page setiion 1   -->

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['No. of Bricks', 'Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                    data: [@ViewBag.ChartBrick, @ViewBag.ChartCement, @ViewBag.ChartSand],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.9)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                        scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
