@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
 <div class="row gy-5 g-xl-8">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row">
              <!--begin: total value -->
              <div class="col-md-3 text-center">
                 <h4 class="card-title fw-bolder">Total Bricks required</h4>
                  <span class="text-danger fw-bolder" style="font-size: 30px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerTotalBricksValue))</span>
                  <hr class="mt-2" style="width: 75%" />
                  <h4 class="card-title fw-bolder mb-5">Volume of Construction</h4>
                  <span class="text-danger fw-bolder m-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerBrickMeterAndCMValue))</span><b>&&</b>
                  <span class="text-danger fw-bolder mx-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerBrickFeetAndInchValue))</span>
              </div>
              <!--end: total value -->
               <!--begin: table -->
              <div class="col-md-5">
                <div class="table-responsive">
                 <table class="table table-row-bordered">
                    <thead>
                      <tr class="fw-bolder fs-6 text-gray-800">
                        <th>Sr.</th>
                        <th>Material</th>
                        <th>Unit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                         <td><img src="@CV.imgtiles" style="width:25px;border-width:0px;">&nbsp Bricks</td>
                        <td>@ViewBag.lblAnswerTotalBricksValue</td>
                      </tr>
                      <tr>
                        <td>2</td>
                         <td><img src="@CV.imgCement" style="width:25px;border-width:0px;">&nbsp Cement</td>
                         <td>@ViewBag.lblAmountCement</td>
                      </tr>
                      <tr>
                        <td>3</td>
                         <td><img src="@CV.imgSand" style="width:25px;border-width:0px;">&nbsp Sand</td>
                          <td>@ViewBag.lblAmountSand</td>
                      </tr>
                    </tbody>
                 </table>
                </div>
              </div>
               <!--end: table -->
              <div class="col-md-4">
            <!--begin::Card body-->
            <div
              class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
              <!--begin::Chart-->
              <style>
                  .chart-container {
                      position: relative;
                      margin: auto;
                      height: 20vh;
                      width: 20vw;
                  }
              </style>
              <div class="chart-container">
                <canvas id="myChart"></canvas>
              </div>
              <!--end::Chart-->
            </div>
            <!--end::Card body-->
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 <!--end : first table-->
<partial name="AdPartials/_AdHorizontalBar" />
<!-- begin : calculation steps  -->
        <div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <div class="card shadow-sm table-responsive">
            <div class="card-header">
                <h2 class="card-title" title="Bricks Masonry Calculation and Formula">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;@Model.CalculatorName
                </h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblStepI))</label>
                        </blockquote>
                       
                    </div>
                    <div class="col-md-6">
                        <blockquote >
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblStepII))</label>

                        </blockquote>
                        
                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblStepIII))</label>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end : calculation steps -->


@foreach (var item2 in ViewBag.Page)
{

    @Html.Raw(WebUtility.HtmlDecode(item2.PageContent))

}


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['No. of Bricks', 'Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                    data: [@ViewBag.ChartBrick, @ViewBag.ChartCement, @ViewBag.ChartSand],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.9)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
            }
        });
    </script>
