@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
    <div class="row gy-5 g-xl-8">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row">
              <!--begin: total value -->
              <div class="col-md-4 text-center">
                        <h5 class="card-title fw-bolder">Capacity of Solar Water Heater</h5>
                        <span class="text-danger fw-bolder" style="font-size: 30px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblCapacityOfSolarWaterHeater))</span>
                  <hr class="mt-2" style="width: 100%" />
                        <small><i class="fa fa-info-circle"></i></small> The thumb rule in deciding the capacity is that a person requires 30-50 litres of water per day

                    </div>
              <!--end: total value -->
              <!--begin: total value -->
              <div class="col-md-8 text-center">
                        <h5 class="card-title fw-bolder">
                            Solar Water Heater Calculation

                        </h5>
                       
                  <div class="text-center ">
                      <div class="row">
                          <div class="col-sm-12">
                                   
                              @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblSolarWaterHeaterFormula))
                            </div>
                      <br />
                      <br />
                  </div>
              </div>
              <!--end: total value -->
            </div>
          </div>
        </div>
      </div>
    </div>
 <!--end : first table-->

<!-- begin : Page setiion 1  -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                    <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                            <img class="img-fluid"
                                 style="width: 16px"
                                 src="@Url.Content(Model.CalculatorIcon)" />
                        &nbsp;What is Solar Water Heater calculation?
                        </h3>
                    </div>
                    <!--end :card header-->
                    <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <!--begin :main section-->
                            <div class="col-md-6">
                                <div class="card-p mb-10">
                                    @Html.Raw(WebUtility.HtmlDecode(Model.PageSection1))
                                </div>
                            </div>
                        <div class="col-md-6">
                            <div class="text-center px-4">
                                <img class="mw-100 img-fluid mh-300px card-rounded-bottom mt-2 ClayBricks.jpg"
                                     alt="ClayBricks"
                                     src="~/ClinetPanel/img/Quantity-Estimator/SolarHeater.jpg" />
                            </div>
                        </div>
                            <!--end :main section-->
                        </div>
                        <hr />
                        
                        <div class="row card-body">
                            <div class="col-md-7">
                            <div class="table-responsive">
                                <h5 class="bold card-title">
                                    Solar-Water-Heater calculation
                                </h5>
                                <blockquote>
                                   <math xmlns='http://www.w3.org/1998/Math/MathML'><mrow><mrow><mi>Capacity = </mi><mo>&#8290;</mo><mi>No.</mi><mo>&#8290;</mo><mi>of</mi><mo>&#8290;</mo><mi>persons</mi> <mo>&#xD7;</mo><mi>50</mi></mrow></math>
                                </blockquote>
                           
                            Where,
                            <ul>
                                <li>Where Capacity is calculate in liters</li>
                                <li>This Capacity is for per day</li>
                            </ul>
                            </div>
                            </div>
                            <div class="col-md-5" align="center">
                            <img id="ctl00_cphPageContent_imgClayBricks" title="Clay bricks" class="img img-fluid" src="~/ClinetPanel/img/Quantity-Estimator/Solar_water_heater.png" alt=" Asphalt volume Calculator" style="border-width:0px;">
                            </div>
                    </div>
                </div>
                    <!--end :card body-->
                </div>
                <!--end :card -->
            </div>
        </div>
<!-- end : Page setiion 1   -->

    <!-- begin : Page setiion 2   -->
    <div class="row gy-5 g-xl-8 mt-1">
        <div class="col-lg-12">
            <!--begin: card-->
            <div class="card shadow-sm">
                <!--begin :card header-->
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                        &nbsp;What are the important Solar-Water-Heater
                    </h3>
                </div>
                <!--end :card header-->
                <!--begin :card body-->
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-p mb-10">
                                @Html.Raw(WebUtility.HtmlDecode(Model.PageSection2))
                            </div>
                        </div>
                    </div>
                </div>
                <!--end :card body-->
            </div>
            <!--end: card-->
        </div>
    </div>
    <!-- end : Page setiion 2   -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['No. of Bricks', 'Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                    data: [@ViewBag.ChartBrick, @ViewBag.ChartCement, @ViewBag.ChartSand],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.9)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                        scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
