@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
    <div class="row gy-5 g-xl-8">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row">
              <!--begin: total value -->
              <div class="col-md-5 text-center">
                        <h4 class="card-title fw-bolder">Total Paint Area</h4>
                        <span class="text-danger fw-bolder" style="font-size: 25px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerPaint_SquareMeterAndCMValue))</span>
                        <span class="fw-bolder m-1 font-md" style="font-size: 15px">  |</span>
                        <span class="text-danger fw-bolder mx-1 font-md" style="font-size: 25px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerPaint_SquareFeetAndInchValue))</span>
              </div>
              <!--end: total value -->
               <!--begin: table -->
              <div class="col-md-7">
                <div class="table-responsive">
                 <table class="table table-row-bordered">
                    <thead>
                      <tr class="fw-bolder fs-6 text-gray-800">
                        <th>Sr.</th>
                        <th>Material</th>
                                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                                        <td><img src="@CV.imgPaintArea" style="width:25px;border-width:0px;">&nbsp; Paint</td>
                                        <td>@ViewBag.lblAnswerPaint</td>
                      </tr>
                      <tr>
                        <td>2</td>
                                        <td><img src="@CV.imgprimer" style="width:25px;border-width:0px;">&nbsp; Primer</td>
                                        <td>@ViewBag.lblAnswerPrimer</td>
                      </tr>
                      <tr>
                        <td>3</td>
                                        <td><img src="@CV.imgputty" style="width:25px;border-width:0px;">&nbsp; Putty</td>
                                        <td>@ViewBag.lblAnswerPutty</td>
                      </tr>
                    </tbody>
                 </table>
                </div>
              </div>
               <!--end: table -->
            </div>
          </div>
        </div>
      </div>
    </div>
 <!--end : first table-->

<!-- begin : calculation steps  -->
        <div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <div class="card shadow-sm table-responsive">
            <div class="card-header">
                <h2 title="Formula for Paint work calculation | Color calculation" class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;@Model.CalculatorName
                </h2>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-4">
                        <h4 class="bold">Paint Area</h4>
                        <br />
                        <blockquote >
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPaintAreaFormula))</label>

                        </blockquote>
                        <div class="alert alert-block alert-success text-center" style="margin: 30px;">
                            <strong>Note: </strong>
                            Approx Paint Area Including<strong> Wall And Ceiling</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">Door & Window Area</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblDoorAreaFormula))</label>
                        </blockquote>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">Actual Paint Area</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblActualPaintFormula))</label>

                        </blockquote>

                    </div>
                </div>
                <hr/>
                <div class="row text-center">
                    <div class="col-md-4">
                        <h4 class="bold">Paint</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPaintFormula))</label>
                        </blockquote>
                        <div class="alert alert-block alert-success text-center" style="margin: 30px;">
                            <strong>Note: </strong>
                            1 liter of paint cover upto<strong>100 sq.ft of Area</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">Primer</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPrimerFormula))</label>
                        </blockquote>
                        <div class="alert alert-block alert-success text-center" style="margin: 30px;">
                            <strong>Note: </strong>
                            1 liter of primer cover upto<strong>100 sq.ft of Area</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">Putty</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPuttyFormula))</label>
                        </blockquote>
                        <div class="alert alert-block alert-success text-center" style="margin: 30px;">
                            <strong>Note: </strong>
                            2.5 kg of putty cover upto<strong>100 sq.ft of Area</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end : calculation steps -->

@foreach (var pagecontect in ViewBag.Page)
{

    @Html.Raw(WebUtility.HtmlDecode(pagecontect.PageContent))

}


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                data: [@ViewBag.Cementchart, @ViewBag.Sandchart],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)'
                     
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                      
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                        scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
