@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
    <div class="row gy-5 g-xl-8">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row">
              <!--begin: total value -->
              <div class="col-md-6 text-center">
                        <h5 class="card-title fw-bolder">Total Paint Area</h5>
                        <span class="text-danger fw-bolder" style="font-size: 20px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerPaint_SquareMeterAndCMValue))</span>
                 <span class="text-danger fw-bolder m-1 font-md" style="font-size: 12px">|</span>
                        <span class="text-danger fw-bolder mx-1 font-md" style="font-size: 20px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerPaint_SquareFeetAndInchValue))</span>
              </div>
              <!--end: total value -->
               <!--begin: table -->
              <div class="col-md-6">
                <div class="table-responsive">
                 <table class="table table-row-bordered">
                    <thead>
                      <tr class="fw-bolder fs-6 text-gray-800">
                        <th>Sr.</th>
                        <th>Material</th>
                                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                                        <td><img src="@CV.imgPaintArea" style="width:25px;border-width:0px;">Paint</td>
                                        <td>@ViewBag.lblAnswerPaint</td>
                      </tr>
                      <tr>
                        <td>2</td>
                                        <td><img src="@CV.imgprimer" style="width:25px;border-width:0px;">Primer</td>
                                        <td>@ViewBag.lblAnswerPrimer</td>
                      </tr>
                      <tr>
                        <td>3</td>
                                        <td><img src="@CV.imgputty" style="width:25px;border-width:0px;">Putty</td>
                                        <td>@ViewBag.lblAnswerPutty</td>
                      </tr>
                    </tbody>
                 </table>
                </div>
              </div>
               <!--end: table -->
            </div>
          </div>
        </div>
      </div>
    </div>
 <!--end : first table-->

<!-- begin : calculation steps  -->
        <div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <div class="card shadow-sm table-responsive">
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;@Model.CalculatorName
                </h3>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-4">
                        <h4 class="bold">Paint Area</h4>
                        <br />
                        <blockquote >
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPaintAreaFormula))</label>

                        </blockquote>
                        <div class="alert alert-block alert-success text-center" style="margin: 30px;">
                            <strong>Note: </strong>
                            Approx Paint Area Including<strong> Wall And Ceiling</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">Door & Window Area</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblDoorAreaFormula))</label>
                        </blockquote>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">Actual Paint Area</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblActualPaintFormula))</label>

                        </blockquote>

                    </div>
                </div>
                <hr/>
                <div class="row text-center">
                    <div class="col-md-4">
                        <h4 class="bold">Paint</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPaintFormula))</label>
                        </blockquote>
                        <div class="alert alert-block alert-success text-center" style="margin: 30px;">
                            <strong>Note: </strong>
                            1 liter of paint cover upto<strong>100 sq.ft of Area</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">Primer</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPrimerFormula))</label>
                        </blockquote>
                        <div class="alert alert-block alert-success text-center" style="margin: 30px;">
                            <strong>Note: </strong>
                            1 liter of primer cover upto<strong>100 sq.ft of Area</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">Putty</h4>
                        <br />
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblPuttyFormula))</label>
                        </blockquote>
                        <div class="alert alert-block alert-success text-center" style="margin: 30px;">
                            <strong>Note: </strong>
                            2.5 kg of putty cover upto<strong>100 sq.ft of Area</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end : calculation steps -->

<!-- begin : Page setiion 1  -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                    <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                           
                    &nbsp;What is paint calculation?
                        </h3>
                    </div>
                    <!--end :card header-->
                    <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <!--begin :main section-->
                            <div class="col-md-6">
                                <div class="card-p">
                            <p>Paint is a liquid or mastic material that can be applied to surfaces to colour, protect and provide texture. They are usually stored as a liquid and dry into a thin film after application. Paints be categorised decorative, are applied on site, or industrial, applied in factories as part of the manufacturing process.</p>

                            <p>Paint Calculator helps you calculate the area to be painted and gives you an estimate of the required amount of paint. Paints can be applied with a brush or roller, or by dipping, flowcoating, spraying, hot spraying, electrostatic spraying, airless spraying, electrodeposition, powder coating, vacuum impregnation, immersion, and so on.</p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center px-4">
                                    <img class="mw-100 img-fluid mh-300px card-rounded-bottom mt-2 ClayBricks.jpg"
                                 alt="Paint-Calculator" ToolTip="Paint Calculator | Color Calculation"
                                 src="~/ClinetPanel/img/Quantity-Estimator/PaintArea.png" />
                                </div>
                            </div>
                            <!--end :main section-->
                        </div>
                        <hr />
                       
                        <div class="row card-body">
                            <div class="col-md-9">
                        <div class="table-responsive">
                            <h5 class="bold card-title">
                                Paint Calculation
                            </h5>
                            <blockquote class="font-md">
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Paint Area =</mo><mi>Carpet Area</mi><mo>*</mo><mi>3.5</mi></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Door Area=</mo><mi>Door Height</mi><mo>*</mo><mi>Door Width</mi><mo>*</mo><mi>No of Doors</mi></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Window Area=</mo><mi>Window Height</mi><mo>*</mo><mi>Window Width</mi><mo>*</mo><mi>No of Windows</mi></math>
                               
                                    <br />
                                    <math xmlns='http://www.w3.org/1998/Math/MathML'><mi>Actual Paint Area</mi><mo>=</mo><mi>Paint Area</mi><mo>-</mo><mi>Door Area</mi><mo>-</mo><mi>Window Area</mi></math>
                                    <br />
                                    <br />
                                    <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Paint=</mo><mfrac><mi>Actual Paint Area</mi><mi>100</mi></mfrac></math>
                                    <br />
                                    <br />
                                    <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Primer=</mo><mfrac><mi>Actual Paint Area</mi><mi>100</mi></mfrac></math>
                                    <br />
                                    <br />
                                    <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Putty=</mo><mfrac><mi>Actual Paint Area</mi><mi>40</mi></mfrac></math>
                            </blockquote>
                      
                        Where,
                        <ul>
                            <li>m<sup>2</sup>(meter Square) and ft<sup>2</sup>(feet Square) is a total area.</li>
                            <li>Length and Width in meter/cm or feet/inch.</li>
                        </ul>
                        <p>
                            <strong>Note:</strong><br />
                            1 m<sup>2</sup> = 10.7639 ft<sup>3</sup><br />
                            1 litre = 0.264172 gallons
                        </p>
                            </div>
                            </div>
                           
                    </div>
                </div>
                    <!--end :card body-->
                </div>
                <!--end :card -->
            </div>
        </div>
<!-- end : Page setiion 1   -->

<!-- begin : Page setiion 2   -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                     <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What are coverage area for paint?
                        </h3>
                    </div>
                    <!--end :card header-->
                     <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-p">
                            <ul>
                                <li><strong>Paint:</strong>&nbsp;Paint is a substance used as the final finish to all surfaces and as a coating to protect or decorate the surface. 1 liter of Paint is Cover Upto 100 Square feet of Paint Area</li>
                                <br />
                                <li><strong>Primer:</strong>&nbsp;Primer is a paint product that allows finishing paint to adhere much better than if it were used alone. [3] It is designed to adhere to surfaces and to form a binding layer that is better prepared to receive the paint. Compared to paint, a primer is not intended to be used as the outermost durable finish and can instead be engineered to have improved filling and binding properties with the material underneath. 1 liter of Primer is Cover Upto 100 Square feet of Paint Area</li>
                                <br />
                                <li><strong>Putty :&nbsp;</strong>Putty is a kind of paste prepared for applying on walls to fill in any minor dents or to level the surface. It is recommended that paint is not applied directly on putty. Always apply a coat of primer over putty and then the final coat. 2.5 kgs of Putty is Cover Upto 100 Square feet of Paint Area</li>
                            </ul>

                            <p>Spay paint coverage is more than brush and roller paint.</p>

                            <p>Most of the brands mention coverage area on package, hence refer to the package for exact coverage area.</p>

                            <p>1 Coat means, one layer of paint. 1 Coat of paint is sufficient for repainting or tenancy painting</p>

                            <p>2 Coat means two-layer of paint. At least 2 coat of paint is required for fresh painting, new paint or color change.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :card body-->
                </div>
                <!--end: card-->
            </div>
    </div>
<!-- end : Page setiion 2   -->

<!-- begin : Page setiion 3  -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                    <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What are the important paint calculation?
                        </h3>
                    </div>
                    <!--end :card header-->
                    <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <!--begin :main section-->
                            <div class="col-md-12">
                                <div class="card-p ">
                            <p>Paint is used to protect all sorts of buildings and structures from the effects of water and sun. Wooden buildings such as houses are usually painted because a coat of paint prevents water seeping into the wood and making it rot. The paint also helps to prevent the wood from drying out in the hot sun.</p>

                            <p>Incredibly, some forms of paint can actually reduce the danger of a fire spreading in your house. Fire resistant paints, also known as intumescent coatings, are a passive fire protection measure that are well worth the investment. Obviously these products aren&rsquo;t going to save your home from a fire, but they can form an important part of your fire safety measures in the house.</p>

                                </div>
                            </div>
                            <!--end :main section-->
                        </div>
                </div>
                    <!--end :card body-->
                </div>
                <!--end :card -->
            </div>
        </div>
<!-- end : Page setiion 3   -->


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                data: [@ViewBag.Cementchart, @ViewBag.Sandchart],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)'
                     
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                      
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                        scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
