@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
<div class="row gy-5 g-xl-8">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
              
        <div class="row">
                    <!--begin: total value -->
          <div class="col-md-12 text-center">
              <h4 class="card-title fw-bolder">Size of Air Conditioner</h4>
              <span class="text-danger fw-bolder" style="font-size: 23px">@ViewBag.lblSizeOfAc</span>
              <h4 class="text-danger fw-bolder" style="font-size: 23px">Tone</h4>
              <p class="card-title  mb-5">All calculations are estimates based on the information you provide. It depends on several factors like city of use, no of people in a room,appliances in the room, etc</p>
          </div>
                    <!--end: total value -->
        </div>
               

      </div>
    </div>
  </div>
    <!-- begin : calculation steps  -->
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="card-title fw-bolder">@Model.CalculatorName</h4>
                        <br/>
                        <div class="table-responsive">
                            <blockquote>
                                <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblFormulaAcSize))</label>
                            </blockquote>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <!-- begin : calculation steps  -->
</div>
<!-- end : first table -->

<!-- begin : Page setiion 1  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-md-12">
        <!--begin: card-->
        <div class="card shadow-sm">
            <!--begin :card header-->
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What is Air Conditioner Size calculation?
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body">
                <div class="row">
                    <!--begin :main section-->
                    <div class="col-md-6">
                        @Html.Raw(WebUtility.HtmlDecode(@Model.PageSection1))
                    </div>
                    <div class="col-md-6" align="center">
                       
                        <img class="mw-100 mh-300px card-rounded-bottom mt-2"
                             alt="AirConditionerSize"
                             src="~/ClinetPanel/img/Quantity-Estimator/AirConditionerSize.jpg" />
                    </div>
                    <!--end :main section-->
                </div>
                <div class="row col-md-12">
                    <!--begin :main section-->
                    <p>
                        This air conditioner room size calculator will gives you recommended Tons and by choose right size tons air conditioning  needs to perfectly cool(or heat ) the room. This depends on factors like room size, city of use, number of people in a room, number of appliances in the room.
                    </p>
                    <p>
                        If you do not know your room's covered area then, find it by using measuring tools you have and measure the length and the width of your room. Input these values in our air conditioner room size calculator to instantly get your room's area. If you have an irregularly shaped room, you can use our square footage calculator and choose the multiple rooms option to help you determine the area of your room.
                    </p>

                    <hr />
                    <h5 class="bold">
                        Air Conditioner Size Calculation
                    </h5>
                    <div class="row">
                       
                        <asp:Panel ID="pnlTotal" runat="server" Visible="false">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <blockquote>
                                        <math xmlns='http://www.w3.org/1998/Math/MathML'><mrow><msub><mi>Air Conditioner Tons =</mi></msub></mrow><mfenced><mfrac><mrow><msup><mi>Length</mi></msup><mo>&#xD7;</mo><msup><mrow><mo></mo><mi>Breadth</mi><mo></mo></mrow></msup><mo>&#xD7;</mo><msup><mrow><mo></mo><mi>20</mi><mo></mo></mrow></msup></mrow><mi>12000</mi></mfrac></mfenced><mo>+</mo><mrow><mi>No of Person</mi><mo>+</mo><mi>Temperature</mi><mo>+</mo><mi>Height</mi></mrow></math>
                                    </blockquote>
                                </div>
                                Where No of Person,
                                <ul>
                                    <li>0.3 Up to 3 people in a room</li>
                                    <li>0.07	for each extra person in the room. ex. (0.3 + (0.07 * No. of Extra person))</li>
                                </ul>
                                Where Temperature,
                                <ul>
                                    <li>0.5	If the highest temperature in summer exceeds 45 °c</li>
                                    <li>0.4	If the highest temperature in summer between 41- 45 °c</li>
                                    <li>0.3	If the highest temperature in summer between 36- 40 °c</li>
                                    <li>0.2	If the highest temperature in summer lesser than 35 °c</li>
                                </ul>
                                Where Temperature,
                                <ul>
                                    <li>0	Room Hight up to 8 feet</li>
                                    <li>0.1	for each foot if the ceiling is over 8 feet tall.</li>
                                </ul>
                            </div>
                        </asp:Panel>
                    </div>

                    <p>
                        Once you know the area of your room, check the chart below for its corresponding recommended base air conditioner capacity:
                    </p>
                    <!--end :main section-->
                </div>
                <!--begin :table-->
                <table class="table table-row-bordered">
                    <tr>
                        <th>Sr.</th>
                        <th>
                            Square
                            <br />
                            feet
                        </th>
                        <th>
                            Ac
                            <br />
                            Tonnage
                            <br />
                        </th>
                        <th>
                            Square
                            <br />
                            Meter
                        </th>
                        <th>
                            Ac
                            <br />
                            Tonnage
                        </th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>100 - 200</td>
                        <td>1.0</td>
                        <td>30 - 60</td>
                        <td>1.0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>200 - 400</td>
                        <td>1.5</td>
                        <td>60-120</td>
                        <td>1.5</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>400 - 500</td>
                        <td>2.0</td>
                        <td>120 - 150</td>
                        <td>2.0</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>500 - 700</td>
                        <td>2.5</td>
                        <td>150 - 210</td>
                        <td>2.5</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>700 - 900</td>
                        <td>3.0</td>
                        <td>210 - 275</td>
                        <td>3.0</td>
                    </tr>
                </table>
                <!--end :table-->

                <hr />
             
                
        </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
</div>
<!-- end : Page setiion 1   -->

<!-- begin : Page setiion 2  -->
<div class="row gy-5 g-xl-8 mt-1">
        <div class="col-md-12">
        <!--begin: card-->
            <div class="card shadow-sm">
            <!--begin :card header-->
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                        &nbsp;Air Conditioning British Thermal Units (AC BTUs)?
                    </h3>
                </div>
            <!--end :card header-->
            <!--begin :card body-->
                <div class="card-body">
                    <div class="row">
                    <!--begin :main section-->
                        <div class="col-md-6">
                        @Html.Raw(WebUtility.HtmlDecode(@Model.PageSection2))

                    </div>
                        <div class="col-md-6">
                            <table class="table table-row-bordered gy-5">
                                <tr>
                                    <th>Sr.</th>
                                    <th>
                                        BTU
                                    </th>
                                    <th>
                                        Ac
                                        <br />
                                        Tonnage
                                        <br />
                                    </th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>9,000</td>
                                    <td>3/4 Ton</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>12,000</td>
                                    <td>1 Ton</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>24,000</td>
                                    <td>2 Ton</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>36,000</td>
                                    <td>3 Ton</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>48,000</td>
                                    <td>4 Ton</td>
                                </tr>
                            </table>
                        </div>
                    <!--end :main section-->
                    </div>
                </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
    </div>
<!-- end : Page setiion 2   -->

<!-- begin : Page setiion 3  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-md-12">
        <!--begin: card-->
        <div class="card shadow-sm">
            <!--begin :card header-->
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                        &nbsp;What are the important Air Conditioner Size?
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body p-0">
                <div class="row">
                    <!--begin :main section-->
                    <div class="col-md-12">
                        <div class="card-p mb-10">
                            @Html.Raw(WebUtility.HtmlDecode(@Model.PageSection3))

                        </div>
                    </div>
                    <!--end :main section-->
                </div>
            </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
</div>
<!-- end : Page setiion 3  -->
