@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<div class="row" >
    <div class="col-md-6" >
        <!-- begin : first table -->
        <div class="row gy-5 g-xl-8">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <img title="Solar Rooftop calculator" class="mw-100 img-fluid mh-150px card-rounded-bottom mt-2 ClayBricks.jpg"
                                     alt=""
                                     src="~/ClinetPanel/img/Quantity-Estimator/solarpanel.png" />
                            </div>
                            <!--end: total value -->
                            <!--begin: total value -->
                            <div  class="col-md-6 text-center">
                                <br/>
                                <h4><b>No of Solar Panels</b></h4>
                                <br/>
                                <br/>
                                <span class="text-danger fw-bolder" style="font-size: 24px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerSolarPanel))</span>
                            </div>
                            <!--end: total value -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end : first table-->
    </div>
    <div class="col-md-6" >
        <!-- begin : first table -->
        <div class="row gy-5 g-xl-8">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <img title="Solar Rooftop calculator" class="mw-100 img-fluid mh-150px card-rounded-bottom mt-2 ClayBricks.jpg"
                                     alt=""
                                     src="~/ClinetPanel/img/Quantity-Estimator/meter.png" />
                            </div>
                            <!--end: total value -->
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <br />
                                <h4><b>KW SYSTEM RECOMMENDED</b></h4>
                                <br />
                                <br />
                                <span class="text-danger fw-bolder" style="font-size: 24px"> @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerKW))</span>
                            </div>
                            <!--end: total value -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end : first table-->
    </div>
</div>

<div class="row ">
    <div class="col-md-6">
        <!-- begin : first table -->
        <div class="row gy-5 g-xl-8">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <img title="Solar Rooftop calculator" class="mw-100 img-fluid mh-150px card-rounded-bottom mt-2 ClayBricks.jpg"
                                     alt=""
                                     src="~/ClinetPanel/img/Quantity-Estimator/unit.png" />
                            </div>
                            <!--end: total value -->
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <br />
                                <h4><b>Daily Unit Consumption</b></h4>
                                <br />
                                <br />
                                <span class="text-danger fw-bolder" style="font-size: 24px"> @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerUnit))</span>
                            </div>
                            <!--end: total value -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end : first table-->
    </div>
    <div class="col-md-6">
        <!-- begin : first table -->
        <div class="row gy-5 g-xl-8 ">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <img title="Solar Rooftop calculator" class="mw-100 img-fluid mh-150px card-rounded-bottom mt-2 ClayBricks.jpg"
                                     alt=""
                                     src="~/ClinetPanel/img/Quantity-Estimator/building.png" />
                            </div>
                            <!--end: total value -->
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <br/>
                                <h4><b>Area For RoofTop</b></h4>
                                <br/>
                                <span class="text-danger fw-bolder" style="font-size: 24px"> @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerAreaft))</span>
                                <br/>
                                <span class="text-danger fw-bolder" style="font-size: 24px"> @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerAreamt))</span>
                            </div>
                            <!--end: total value -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end : first table-->
    </div>
</div>

<!-- begin : calculation steps  -->
        <div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <div class="card shadow-sm table-responsive">
            <div class="card-header">
                <h2 title="Online Solar RoofTop Calculation" class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;@Model.CalculatorName
                </h2>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-6">
                        <h4><b>Daily Unit Consumption</b></h4>
                        <blockquote >
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblDailyUnitConsumption))</label>

                        </blockquote>
                        
                    </div>
                    <div class="col-md-6">
                        <h4> <b>RoofTop Capacity</b></h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblRooftopCapacity))</label>
                        </blockquote>
                    </div>
                </div>
                <hr/>
                <div class="row text-center">
                    <div class="col-md-6">
                        <h4> <b>Number of Solar Panel</b> </h4>
                        <blockquote >
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblNoOfSolarPanel))</label>

                        </blockquote>
                        
                    </div>
                    <div class="col-md-6">
                        <h4> <b>Area Require for Rooftop</b> </h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAreaForRoofTop))</label>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end : calculation steps -->

@foreach (var pagecontect in ViewBag.Page)
{

    @Html.Raw(WebUtility.HtmlDecode(pagecontect.PageContent))

}


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['No. of Bricks', 'Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                    data: [@ViewBag.ChartBrick, @ViewBag.ChartCement, @ViewBag.ChartSand],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.9)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                        scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
