@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<div class="row" >
    <div class="col-md-6" >
        <!-- begin : first table -->
        <div class="row gy-5 g-xl-8">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <img class="mw-100 img-fluid mh-150px card-rounded-bottom mt-2 ClayBricks.jpg"
                                     alt=""
                                     src="~/ClinetPanel/img/Quantity-Estimator/solarpanel.png" />
                            </div>
                            <!--end: total value -->
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <br/>
                                <h4><b>No of Solar Panels</b></h4>
                                <br/>
                                <br/>
                                <span class="text-danger fw-bolder" style="font-size: 24px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerSolarPanel))</span>
                            </div>
                            <!--end: total value -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end : first table-->
    </div>
    <div class="col-md-6" >
        <!-- begin : first table -->
        <div class="row gy-5 g-xl-8">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <img class="mw-100 img-fluid mh-150px card-rounded-bottom mt-2 ClayBricks.jpg"
                                     alt=""
                                     src="~/ClinetPanel/img/Quantity-Estimator/meter.png" />
                            </div>
                            <!--end: total value -->
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <br />
                                <h4><b>KW SYSTEM RECOMMENDED/b></h4>
                                <br />
                                <br />
                                <span class="text-danger fw-bolder" style="font-size: 24px"> @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerKW))</span>
                            </div>
                            <!--end: total value -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end : first table-->
    </div>
</div>

<div class="row ">
    <div class="col-md-6">
        <!-- begin : first table -->
        <div class="row gy-5 g-xl-8">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <img class="mw-100 img-fluid mh-150px card-rounded-bottom mt-2 ClayBricks.jpg"
                                     alt=""
                                     src="~/ClinetPanel/img/Quantity-Estimator/unit.png" />
                            </div>
                            <!--end: total value -->
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <br />
                                <h4><b>Daily Unit Consumption</b></h4>
                                <br />
                                <br />
                                <span class="text-danger fw-bolder" style="font-size: 24px"> @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerUnit))</span>
                            </div>
                            <!--end: total value -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end : first table-->
    </div>
    <div class="col-md-6">
        <!-- begin : first table -->
        <div class="row gy-5 g-xl-8 ">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <img class="mw-100 img-fluid mh-150px card-rounded-bottom mt-2 ClayBricks.jpg"
                                     alt=""
                                     src="~/ClinetPanel/img/Quantity-Estimator/building.png" />
                            </div>
                            <!--end: total value -->
                            <!--begin: total value -->
                            <div class="col-md-6 text-center">
                                <br/>
                                <h4><b>Area For RoofTop</b></h4>
                                <br/>
                                <span class="text-danger fw-bolder" style="font-size: 24px"> @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerAreaft))</span>
                                <br/>
                                <span class="text-danger fw-bolder" style="font-size: 24px"> @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerAreamt))</span>
                            </div>
                            <!--end: total value -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end : first table-->
    </div>
</div>

<!-- begin : calculation steps  -->
        <div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <div class="card shadow-sm table-responsive">
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;@Model.CalculatorName
                </h3>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-md-6">
                        <b>Daily Unit Consumption</b>
                        <blockquote >
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblDailyUnitConsumption))</label>

                        </blockquote>
                        
                    </div>
                    <div class="col-md-6">
                        <b>RoofTop Capacity</b>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblRooftopCapacity))</label>
                        </blockquote>
                    </div>
                </div>
                <hr/>
                <div class="row text-center">
                    <div class="col-md-6">
                        <b>Number of Solar Panel</b>
                        <blockquote >
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblNoOfSolarPanel))</label>

                        </blockquote>
                        
                    </div>
                    <div class="col-md-6">
                        <b>Area Require for Rooftop</b>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAreaForRoofTop))</label>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end : calculation steps -->

<!-- begin : Page setiion 1  -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                    <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                            <img class="img-fluid"
                                 style="width: 16px"
                                 src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;What is Solar RoofTop Calculation?
                        </h3>
                    </div>
                    <!--end :card header-->
                    <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <!--begin :main section-->
                            <div class="col-md-6">
                        <div class="card-p mb-10">
                                    @Html.Raw(WebUtility.HtmlDecode(Model.PageSection1))
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center px-4">
                                    <img class="mw-100 img-fluid mh-300px card-rounded-bottom mt-2 ClayBricks.jpg"
                                         alt=""
                                 src="~/ClinetPanel/img/Quantity-Estimator/Solar_RoofTop.jpg" />
                                </div>
                            </div>
                            <!--end :main section-->
                        </div>
                        <hr />
                        <h5 class="bold card-title">
                            <span  title="Formula for bricks masonry calculation"></span>
                        </h5>
                        <div class="row card-body">
                            <div class="col-md-12">
                            <div class="table-responsive">
                            <div class="caption" title="Solar RoofTop Ratio">
                               
                                <span class="caption-subject bold font-red-flamingo">Common Solar RoofTop Style Available in Market:</span>
                            </div>
                            <table class="table table-border">
                            <tr>
                                <th>Sr.</th>
                                <th>
                                    KW
                                    <br />
                                    Capacity
                                </th>
                                <th>
                                    No of
                                    <br />
                                    Modules
                                    <br />
                                    (Panel)
                                </th>
                                <th>
                                    Require
                                    <br />
                                    Area
                                    <br />
                                    Sq ft
                                </th>
                                <th>
                                    Require
                                    <br />
                                    Area
                                    <br />
                                    Sq m
                                </th>
                                <th>
                                    Yearly<br />
                                    Avg.<br />
                                    Production
                                </th>
                                <th>
                                    Monthly<br />
                                    Avg.<br />
                                    Production
                                </th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2.240</td>
                                <td>7</td>
                                <td>213.22</td>
                                <td>19.81</td>
                                <td>3636</td>
                                <td>303</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2.970</td>
                                <td>9</td>
                                <td>282.19</td>
                                <td>26.22</td>
                                <td>4812</td>
                                <td>401</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>3.300</td>
                                <td>10</td>
                                <td>313.15</td>
                                <td>29.09</td>
                                <td>445</td>
                                <td>5340</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>3.960</td>
                                <td>12</td>
                                <td>375.78</td>
                                <td>34.91</td>
                                <td>534</td>
                                <td>6408</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>4.950</td>
                                <td>15</td>
                                <td>469.37</td>
                                <td>43.61</td>
                                <td>667</td>
                                <td>8004</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>5.940</td>
                                <td>18</td>
                                <td>564.37</td>
                                <td>52.43</td>
                                <td>802</td>
                                <td>9624</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>7.920</td>
                                <td>24</td>
                                <td>754.37</td>
                                <td>70.08</td>
                                <td>1072</td>
                                <td>12864</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>9.900</td>
                                <td>30</td>
                                <td>940.85</td>
                                <td>87.41</td>
                                <td>1337</td>
                                <td>16044</td>
                            </tr>
                            </table>
                            </div>
                            </div>
                           
                    </div>
                </div>
                    <!--end :card body-->
                </div>
                <!--end :card -->
            </div>
        </div>
<!-- end : Page setiion 1   -->

<!-- begin : Page setiion 2 -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <!--begin: card-->
        <div class="card shadow-sm">
            <!--begin :card header-->
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What are the important Solar Rooftop
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body p-0">
                <!--begin :main section-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-p mb-10">
                            @*  @Model[0].PageSection2<br />*@
                            @Html.Raw(WebUtility.HtmlDecode(@Model.PageSection2))
                        </div>
                    </div>
                </div>
                <!--end :main section-->

            </div>
            <!--end :card body-->

        </div>
        <!--end: card-->

    </div>
</div>
<!-- end : Page setiion 2 -->


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['No. of Bricks', 'Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                    data: [@ViewBag.ChartBrick, @ViewBag.ChartCement, @ViewBag.ChartSand],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.9)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                        scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
