@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
    <div class="row gy-5 g-xl-8">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row">
              <!--begin: total value -->
              <div class="col-md-4 text-center">
                        <h5 class="card-title fw-bolder">Roof Pitch</h5>
                        <span class="text-danger fw-bolder" style="font-size: 30px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerRoofPitch))</span>
                        
              </div>
              <!--end: total value -->
              <!--begin: total value -->
              <div class="col-md-8 text-center">
                  <div class="text-center ">
                      <div class="row">
                          <div class="col-sm-6">
                                    <h5 class="card-title fw-bolder mb-5">Slop </h5>
                                    <span class="text-danger fw-bolder text-primary m-1 font-md" style="font-size: 30px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerSlop))</span>
                          </div>
                          <div class="col-sm-6">
                                    <h5 class="card-title fw-bolder  mb-5">Angle</h5>
                                    <span class="text-danger fw-bolder text-primary m-1 font-md" style="font-size: 30px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerAngle))</span>
                          </div>
                      </div>
                      <br />
                      <br />
                  </div>
              </div>
              <!--end: total value -->
            </div>
          </div>
        </div>
      </div>
    </div>
 <!--end : first table-->

<!-- begin : calculation steps  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <div class="card shadow-sm table-responsive">
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;@Model.CalculatorName
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h4 class="bold">Roof Pitcha</h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblRoofPitchFormula))</label>
                        </blockquote>

                    </div>
                    <div class="col-md-4 text-center">
                        <h4 class="bold">Slop</h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblSlopFormula))</label>

                        </blockquote>

                    </div>
                    <div class="col-md-4 text-center">
                        <h4 class="bold">Angle</h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAngleFormula))</label>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end : calculation steps -->

<!-- begin : Page setiion 1  -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                    <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What is roof pitch calculation?
                        </h3>
                    </div>
                    <!--end :card header-->
                    <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <!--begin :main section-->
                            <div class="col-md-12">
                                <div class="card-p ">
                            <p>Roof pitch is the measure of the slant of your roof. It is one of the many important elements of your roof, Roof pitch is one of the most visible aspects of a roof. It&rsquo;s the measure of the steepness of a roof, or its slope. Roof pitch is expressed as a ratio of the roof&rsquo;s vertical rise to its horizontal span, or &ldquo;run&rdquo;.</p>

                            <p>The most commonly used roof pitches fall in a range between 4/12 and 9/12. Pitches lower than 4/12 have a slight angle, and they are defined as low-slope roofs. Pitches of less than 2/12 are considered flat roofs, even though they may be very slightly angled.</p>

                                </div>
                            </div>
                            <!--end :main section-->
                        </div>
                        <hr />
                        
                        <div class="row card-body">
                            <div class="col-md-7">
                            <div class="table-responsive">
                            <h5 class="bold card-title">
                                Roof pitch calculation
                            </h5>
                            <blockquote>
                            <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>Roof Pitch</mi></mi><mo>=</mo><mfrac><mi>S</mi><mfenced><mstyle displaystyle="true"><mfrac><mi>N</mi><mn>12</mn></mfrac></mstyle></mfenced></mfrac></math>
                            <br />
                            <br />
                            <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>Slop</mi><mo>=</mo><mfrac><mi>S</mi><mi>N</mi></mfrac><mo>&#xD7;</mo><mn>100</mn></math>
                            <br />
                            <br />
                            <math xmlns="http://www.w3.org/1998/Math/MathML"><mi>Angle</mi><mo>=</mo><msup><mi>tan</mi><mrow><mo>-</mo><mn>1</mn></mrow></msup><mo>&#xA0;</mo><mfenced><mfrac><mi>S</mi><mi>N</mi></mfrac></mfenced></math>
                            </blockquote>
                            </div>
                            </div>
                            <div class="col-md-5" align="center">
                        <img id="ctl00_cphPageContent_imgClayBricks" title="Roof pitch" data-bs-toggle="tooltip"
                              class="img img-fluid" src="~/ClinetPanel/img/Quantity-Estimator/RoofPitch.png" alt="Roof_pitch-Calculator" style="border-width:0px;">
                            </div>
                    </div>
                </div>
                    <!--end :card body-->
                </div>
                <!--end :card -->
            </div>
        </div>
<!-- end : Page setiion 1   -->

<!-- begin : Page setiion 2  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <!--begin: card-->
        <div class="card shadow-sm">
            <!--begin :card header-->
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What are types of roof pitch?
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body p-0">
                <div class="row">
                    <!--begin :main section-->

                    <div class="col-md-12">
                        <div class="card-p">

                           <ul>
	<li><strong>1. Low Roof Pitch/Slope &ndash;</strong>&nbsp;This type of roof would have at least a 3:12 pitch, which means that a roof rises 3 feet for every 12 feet of its base horizontal length (not greater than5:12).Roofing: This type of roof is considered to be &ldquo;walk-able&ldquo;, and easy for performing a roof installation.</li>
	<li><strong>2. Medium Roof Pitch/Slope &ndash;</strong>&nbsp;The roof of this type would fall within 6:12 &ndash; 9:12 roofing slope range.Roofing: These roofs with intermediate pitch / average slope roofs are considered to be &ldquo;non walk-able&rdquo;, as they represent a higher degree of complexity, therefore they are more expensive to install. They require special equipment such as roofing jacks, and planks in order to be able to perform the roofing installation.</li>
	<li><strong>3. High/Steep Roof Pitch/Slope &ndash;</strong>&nbsp;Roofs in this category have a slope that is greater than 9 inches of rise for every foot of horizontal roof&rsquo;s run. Roofing: The high slopped roof is, perhaps, the most difficult and dangerous roofing surface to work on. You may expect to pay a higher price for this type of roof per square of installation. Any roof and especially steep roofs require the use of a special protections and fall arrest equipment.</li>
</ul>

                           
                        </div>
                    </div>
                    <!--end :main section-->

                </div>
            </div>
            <!--end :card body-->

        </div>
        <!--end: card-->

    </div>
</div>
<!-- end : Page setiion 2   -->

<!-- begin : Page setiion 3  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <!--begin: card-->
        <div class="card shadow-sm">
            <!--begin :card header-->

            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;Importance of roof pitch
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->

            <div class="card-body p-0">
                <div class="row">
                    <!--begin :main section-->

                    <div class="col-md-12">
                        <div class="card-p ">

                           <p>The roof covering that is intended to allow run-off of rain and snow. heat, wind, ultraviolet rays and all the other environmental effects that tend to cause materials to deteriorate. Most roof covers are installed over a water resistant underlayment frequently felt paper, the black material you may have noticed on roofs before application of the final roof covering that, as long as it stays in place, provides an extra surface where water that gets past the roof covering can drain off the roof Most of the time, areas where higher levels of snow or rainfall are common prefer to build roofs with steeper pitch. Well-built roofs are designed to prevent pooling of water or accumulation of snow.</p>


                            
                        </div>
                    </div>
                    
                    <!--end :main section-->

                </div>
            </div>
            <!--end :card body-->

        </div>
        <!--end: card-->

    </div>
</div>
<!-- end : Page setiion 3  -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['No. of Bricks', 'Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                    data: [@ViewBag.ChartBrick, @ViewBag.ChartCement, @ViewBag.ChartSand],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.9)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                        scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
