@model List<CivilCalc.DAL.CAL.CAL_NewCalculator.SelectForSearch_Result>

<div class="card shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title">Search Result</h3>
        <div class="card-toolbar">

            <button class="btn btn-sm btn-success js-stkModal-btn ms-1"
                    data-form-id="formAdd_UMS"
                    data-url='@Url.Action("_AddEdit", "CAL_NewCalculator", new {Area = "CAL_NewCalculator"})'
                    data-modal-size="lg">
                <i class="la la-plus"></i> Add New
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="secondary table table-bordered table-hover" id="tblList" cellspacing="0" width="100%">
            <thead class="bg-gray-300">
                <tr class="fw-bolder" >
                    <th class="text-center">Sr.</th>
                    <th class="">NewCalculator ID </th>
                    <th class="">Calculator Name </th>
                    <th class="">Description </th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td class="text-center"><span data-toggle="kt-tooltip" data-placement="right" data-original-title="">@i</span></td>
                        <td class="text-right">@item.NewCalculatorID</td>
                        <td class="">@item.CalculatorName</td>
                        <td class="">@item.Description</td>
                        <td class="text-center">

                            <span data-bs-toggle="tooltip" data-bs-placement="left" title="Edit">
                                <button class="btn btn-primary btn-icon btn-elevate btn-sm js-stkModal-btn"
                                    data-form-id="formEdit_UMS"
                                    data-url='@Url.Action("_AddEdit", "CAL_NewCalculator", new {Area = "CAL_NewCalculator", NewCalculatorID = item.NewCalculatorID})'
                                    data-modal-size="lg">
                                    <i class="la la-edit"></i>
                                </button>
                            </span>

                            <form id="formDelete_UMS" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                              data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
                              asp-area="CAL_NewCalculator" asp-action="_Delete" asp-controller="CAL_NewCalculator" style="display: inline;">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="NewCalculatorID" value="@item.NewCalculatorID" />
                                <a class="btn btn-danger btn-icon btn-elevate btn-sm js-bb-confirm-delete" data-bs-toggle="tooltip" data-bs-placement="left" title="Delete"><i class="la la-trash"></i></a>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>