@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
 <div class="row gy-5 g-xl-8">
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="row">
              <!--begin: total value -->
              <div class="col-md-3 text-center">
                 <h5 class="card-title fw-bolder">Total Bricks required</h5>
                  <span class="text-danger fw-bolder" style="font-size: 30px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerTotalBricksValue))</span>
                  <hr class="mt-2" style="width: 75%" />
                        <h5 class="card-title fw-bolder mb-5">Total Area of Concrete Tube</h5>
                        <span class="text-danger fw-bolder m-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerCubicMeterAndCMValue))</span><b>||</b>
                        <span class="text-danger fw-bolder mx-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerCubicFeetAndInchValue))</span>
              </div>
              <!--end: total value -->
               <!--begin: table -->
              <div class="col-md-5">
                <div class="table-responsive">
                 <table class="table table-row-bordered">
                    <thead>
                      <tr class="fw-bolder fs-6 text-gray-800">
                        <th>Sr.</th>
                        <th>Material</th>
                        <th>Unit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                                        <td><img src="@CV.imgCement" style="width:25px;border-width:0px;">Cement</td>
                                        <td>@ViewBag.lblAnswerCement</td>
                      </tr>
                      <tr>
                        <td>2</td>
                                        <td><img src="@CV.imgSand" style="width:25px;border-width:0px;">Sand</td>
                         <td>@ViewBag.lblAnswerSand</td>
                      </tr>
                      <tr>
                        <td>3</td>
                                        <td><img src="@CV.imgAggregate" style="width:25px;border-width:0px;">Aggregate</td>
                                        <td>@ViewBag.lblAnswerAggregate</td>
                      </tr>
                    </tbody>
                 </table>
                </div>
              </div>
               <!--end: table -->
              <div class="col-md-4">
            <!--begin::Card body-->
            <div
              class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
              <!--begin::Chart-->
              <style>
                  .chart-container {
                      position: relative;
                      margin: auto;
                      height: 20vh;
                      width: 20vw;
                  }
              </style>
              <div class="chart-container">
                <canvas id="myChart"></canvas>
              </div>
              <!--end::Chart-->
            </div>
            <!--end::Card body-->
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 <!--end : first table-->

<!-- begin : calculation steps  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <div class="card shadow-sm table-responsive">
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;@Model.CalculatorName
                </h3>
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="bold">Tube Inner Area</h4>
                            <br />
                            <blockquote>
                                <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblInnerAreaFormula))</label>
                            </blockquote>
                        </div>

                        <div class="col-md-4">
                            <h4 class="bold">Tube Outer Area</h4>
                            <br />
                            <blockquote>
                                <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblOuterAreaFormula))</label>
                            </blockquote>
                        </div>
                        <div class="col-md-4">
                            <h4 class="bold">Tube Total  Area</h4>
                            <br />
                            <blockquote>
                                <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblVolumeFormula))</label>
                            </blockquote>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="bold">
                                <img src="@CV.imgCement" style="width:25px;border-width:0px;">
                                Amount of Cement Required
                            </h4>
                            <blockquote>
                                <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblCementFormula))</label>
                            </blockquote>
                            <div class="alert alert-block alert-success text-center" style="margin: 10px;">
                                <strong>Note: </strong>1 Bag of cement <strong>= 0.035 m<sup>3</sup>.</strong>
                                <br />
                                1 Cement bag contains <strong>= 50 kg cement</strong>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="bold">
                                <img src="@CV.imgSand" style="width:25px;border-width:0px;">
                                Amount of Sand Required
                            </h4>
                            <blockquote>
                                <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblSandFormula))</label>
                            </blockquote>
                            <div class="alert alert-block alert-success text-center">
                                <strong>Note: </strong>By considering dry loose bulk density of sand <strong>= 1550 kg/m<sup>3</sup>.</strong>
                                <br />
                                <strong>1000 kg = 1 Ton</strong>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4 class="bold">
                                <img src="@CV.imgAggregate" style="width:25px;border-width:0px;">
                                Amount of Aggregate Required
                            </h4>
                            <blockquote>
                                <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAggregateFormula))</label>

                            </blockquote>
                            <div class="alert alert-block alert-success text-center">
                                <strong>Note: </strong>By considering dry loose bulk density of aggregate <strong>= 1350 kg/m<sup>3</sup>.</strong>
                                <br />
                                <strong>1000 kg = 1 Ton</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end : calculation steps  -->

<!-- begin : Page setiion 1  -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                    <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>

                    &nbsp;What is concrete tube calculation?
                        </h3>
                    </div>
                    <!--end :card header-->
                    <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <!--begin :main section-->
                            <div class="col-md-6">
                                <div class="card-p">
                                   <p>Reinforced Cement Concrete (RCC) Tube (Pipes) are generally used for water drainage,sewerage,culverts and irrigation. RCC Tube are very much preferred for such usage because they are leak proof, are easily repairable and are non-reactive to sewerage toxins. Concrete Tubes has been estimated to easily last around 100 years and as such they are fit and forget solution which is why they are preferred over other materials for such usage.</p>

<ul>
	<li><strong>Class :&nbsp;</strong>Light duty- NP2, Medium Duty- NP3, Heavy Duty- NP4</li>
	<li><strong>Density :&nbsp;</strong>Optimum water cement ratio and High density.</li>
	<li><strong>Length :&nbsp;</strong>2 &amp; 2.5 meter and as per requirement</li>
	<li><strong>Diameter Of RCC Tube (Pipe) :&nbsp;</strong>80, 100, 150. 200, 225, 250, 300, 350, 400, 450, 500, 600, 700, 800, 900, 1000,1100, 1200, 1400, 1600 &amp; 1800.</li>
	<li><strong>Joints :&nbsp;</strong>Socket and Spigot, Collar Joints and Flush Joints</li>
	<li>RCC Tube (Pipes) are made from cement, course and fine aggregate, sand, mild steel and HT Rods and bars.</li>
</ul>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center px-4">
                                    <img class="mw-100 img-fluid mh-300px card-rounded-bottom mt-2 ClayBricks.jpg"
                                 alt="ConcereteTube"
                                 title="Concrete Tube" data-bs-toggle="tooltip"
                                 src="~/ClinetPanel/img/Quantity-Estimator/Cocrete_tube.jpg" />
                                </div>
                            </div>
                            <!--end :main section-->
                        </div>
                        <hr />
                        
                        <div class="row card-body">
                            <div class="col-md-9">
                            <div class="table-responsive">
                            <h5 class="bold card-title">
                                Concrete Tube Calculation
                            </h5>
                            <blockquote class="font-md">
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Radius =</mo><mfrac><mi>Diameter</mi><mn>2</mn></mfrac></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Area of Inner Tube =</mo><msup><mi>&#x3C0; × Inner Radius</mi><mn>2</mn></msup></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Area of Outer Tube =</mo><msup><mi>&#x3C0; × Outer Radius</mi><mn>2</mn></msup></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Total Area of Tube =</mo><msup><mi>(Outer Radius - Inner Radius)× Height × No of Tube</mi></msup></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Dry Volume =</mo><mi>Toatl Area (Cubic Meter)</mi><mo>&#xD7;</mo><mn>1.524</mn></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Cement Volume =</mo><mfrac><mrow><mi>Dry Volume</mi><mo>&#xD7;</mo><mi>Cement</mi></mrow><mi>Sum of Ratio</mi></mfrac></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>No. of Cement Bags =</mo><mfrac><mrow><mi>Cement Volume</mi></mrow><mrow><mn>0.035</mn></mrow></mfrac></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Sand Volume =</mo><mfrac><mrow><mi>Dry Volume</mi><mo>&#xD7;</mo><mi>Sand</mi></mrow><mi>Sum of Ratio</mi></mfrac></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Sand in Ton=</mo><mfrac><mrow><mi>Sand Volume</mi><mo>&#xD7;</mo><mn>1550</mn></mrow><mn>1000</mn></mfrac></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Aggregate Volume =</mo><mfrac><mrow><mi>Dry Volume</mi><mo>&#xD7;</mo><mi>Aggregate</mi></mrow><mi>Sum of Ratio</mi></mfrac></math>
                                <br />
                                <br />
                                <math xmlns='http://www.w3.org/1998/Math/MathML'><mo>Aggregate in Ton=</mo><mfrac><mrow><mi>Aggregate Volume</mi><mo>&#xD7;</mo><mn>1350</mn></mrow><mn>1000</mn></mfrac></math>
                            </blockquote>
                            Where,
                            <ul>
                                <li>1.524 is dry volume for the concrete</li>
                                <li>0.035 is volume of one cement bag.</li>
                                <li>1550 is density volume conversion sand m<sup>3</sup> to kg.</li>
                                <li>1350 is density volume conversion aggregate m<sup>3</sup> to kg.</li>
                            </ul>
                            </div>
                            </div>
                            <div class="col-md-3" align="center">
                        <img id="ctl00_cphPageContent_imgClayBricks" title="Concrete Tube Calculator" data-bs-toggle="tooltip" class="img img-fluid" src="~/ClinetPanel/img/Quantity-Estimator/Concrete_tube_fig.png" alt="Cocncrete Tube Calculator" style="border-width:0px;">
                            </div>
                    </div>
                </div>
                    <!--end :card body-->
                </div>
                <!--end :card -->
            </div>
        </div>
      
<!-- end : Page setiion 1   -->

<!-- begin : Page setiion 2   -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                     <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What are the importance of concrete tube?
                        </h3>
                    </div>
                    <!--end :card header-->
                     <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-p">
                                   <p>Concrete Tube usually for low-pressure applications such as gravity flow or drainage. Pipes for sewage are still predominantly made from concrete or vitrified clay. Reinforced concrete can be used for large-diameter concrete pipes. This pipe material can be used in many types of construction, and is often used in the gravity-flow transport of storm water. Usually such pipe will have a receiving bell or a stepped fitting, with various sealing methods applied at installation.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :card body-->
                </div>
                <!--end: card-->
            </div>
    </div>
<!-- end : Page setiion 2   -->

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['No. of Bricks', 'Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                    data: [@ViewBag.ChartBrick, @ViewBag.ChartCement, @ViewBag.ChartSand],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.9)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                        scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
