@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
<div class="row gy-5 g-xl-8">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <!--begin: total value -->
                    <div class="col-md-4 text-center">
                        <h5 class="card-title fw-bolder">Weight of steel in kg.</h5>
                        <span class="text-danger fw-bolder" style="font-size: 24px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblKgAnswer))</span>
                        <hr class="mt-2" style="width: 100%" />
                        <h5 class="card-title fw-bolder mb-5">Weight of steel in ton</h5>
                        <span class="fw-bolder text-primary m-1 font-md" style="font-size: 24px">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblTonAnswer))</span>
                    </div>
                    <!--end: total value -->
                    <!--begin: total value -->
                    <div class="col-md-8 text-center">
                        <h5 class="card-title fw-bolder">Steel Quantity  Calculation</h5>
                        <hr/>
                        <div class="text-center ">
                            <div class="row">
                                <div class="col-sm-12 fs-5">
                                    @Html.Raw(WebUtility.HtmlDecode(ViewBag.lblSteelWeightFormula))
                                </div>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                    <!--end: total value -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--end : first table-->


<!-- begin : Page setiion 1  -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                    <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                            &nbsp;What is Steel Qauntity calculation?
                        </h3>
                    </div>
                    <!--end :card header-->
                    <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <!--begin :main section-->
                            <div class="col-md-6">
                                <div class="card-p">
                            <p>A steel used un building structure fabricated with steel for the internal support and for exterior cladding, as opposed to steel framed buildings which generally use other materials for floors, walls, and external envelope. Steel buildings are used for a variety of purposes including storage, work spaces and living accommodation. They are classified into specific types depending on how they are used.</p>

                            <p>Steel is used because it binds well to concrete, has a similar thermal expansion coefficient and is strong and relatively cost-effective. Reinforced concrete is also used to provide deep foundations and basements and is currently the world&#39;s primary building material.</p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center px-4">
                                    <img class="mw-100 img-fluid mh-300px card-rounded-bottom mt-2 ClayBricks.jpg"
                                 alt="Steel Weight Calculator" title="Steel Quantity Calculator"
                                                                data-bs-toggle="tooltip"
                                 src="~/ClinetPanel/img/Quantity-Estimator/SteelWeightBar.jpg" />
                                </div>
                            </div>
                            <!--end :main section-->
                        </div>
                </div>
                    <!--end :card body-->
                </div>
                <!--end :card -->
            </div>
        </div>
<!-- end : Page setiion 1   -->

<!-- begin : Page setiion 2   -->
        <div class="row gy-5 g-xl-8 mt-1">
            <div class="col-lg-12">
                <!--begin: card-->
                <div class="card shadow-sm">
                     <!--begin :card header-->
                    <div class="card-header">
                        <h3 class="card-title">
                            <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;How many steel qauntity require for memebr types?
                        </h3>
                    </div>
                    <!--end :card header-->
                     <!--begin :card body-->
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-p">
                            <div class="caption" title="Some common types of steel construction is footing, beam, column, slab, lintle, retaining wall, stair case for that require steel weight is given below in table.">
                                <i class="icon-puzzle font-red-flamingo"></i>
                                <span class="caption-subject text-danger fw-bolder">Some common types of steel construction is footing, beam, column, slab, lintle, retaining wall, stair case for that require steel weight is given below in table.</span>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-border table-hover table-row-bordered">
                                    <tr>
                                        <th>Member Type</th>
                                        <th>Concrete Qauntity</th>
                                        <th>Steel Weight</th>
                                    </tr>
                                    <tr title="Footing">
                                        <td>Footing</td>
                                        <td>1 m<sup>3</sup></td>
                                        <td>80 kg.</td>
                                    </tr>
                                    <tr title="Beam">
                                        <td>Beam</td>
                                        <td>1 m<sup>3</sup></td>
                                        <td>160 kg.</td>
                                    </tr>
                                    <tr title="Column">
                                        <td>Column</td>
                                        <td>1 m<sup>3</sup></td>
                                        <td>110 kg.</td>
                                    </tr>
                                    <tr title="Slab">
                                        <td>Slab</td>
                                        <td>1 m<sup>3</sup></td>
                                        <td>80 kg.</td>
                                    </tr>
                                    <tr title="StairCase">
                                        <td>StairCase</td>
                                        <td>1 m<sup>3</sup></td>
                                        <td>85 kg.</td>
                                    </tr>
                                    <tr title="Lintle/Chhajja/Coping">
                                        <td>Lintle/Chhajja/Coping</td>
                                        <td>1 m<sup>3</sup></td>
                                        <td>50 kg.</td>
                                    </tr>
                                    <tr title="Retaining Wall">
                                        <td>Retaining Wall</td>
                                        <td>1 m<sup>3</sup></td>
                                        <td>60 kg.</td>
                                    </tr>
                                </table>
                            </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :card body-->
                </div>
                <!--end: card-->
            </div>
    </div>
<!-- end : Page setiion 2   -->

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        // get the canvas element and its context
        var ctx = document.getElementById('myChart').getContext('2d');

        // create the chart with data and options
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['No. of Bricks', 'Cement in kg.', 'Sand in kg.'],
                datasets: [{
                    label: 'Asp dataset',
                    data: [@ViewBag.ChartBrick, @ViewBag.ChartCement, @ViewBag.ChartSand],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.7)',
                        'rgba(54, 162, 235, 0.8)',
                        'rgba(255, 206, 86, 0.9)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                        scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
