@model CivilCalc.Models.FlooringCalculator;

<div class="row gy-5 g-xl-8">
    <!--begin: parameter-->
    <div class="col-md-7 mb-md-5 mb-xl-10">
        <!--begin: card-->
        <div class="card shadow">
            <!--begin :card header-->
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(ViewBag.CalculatorIcon)" />
                    &nbsp;@ViewBag.CalculatorName
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body">
                <!--begin :form body-->
                <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                      asp-action="_Calculation" asp-controller="FlooringCalculator" novalidate="novalidate">
                    @Html.AntiForgeryToken()

                    <!--begin :row 1  Unit-->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-2">
                                Unit
                                <span title="A unit may also mean the standard units used for measurement. For Ex. feet/inch &amp; meter/cm"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <!--begin :input-->
                            <select asp-for="UnitID"
                                    data-bs-placement="right" data-bs-toggle="tooltip" 
                                    title="Select Unit (Feet/Inch &amp; Meter/CM)" 
                                    class="form-select form-select-sm form-select-solid" id="ddlUnit" onchange="meterTofeet()"
                                    aria-label="Select example">
                                <option value="1" Selected="True">Meter/CM</option>
                                <option value="2" >Feet/Inch</option>
                            </select>
                            <!--end :input-->
                        </div>
                    </div>
                    <!--end :row 1  Unit-->

                    <!--begin :row 2 Length -->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Length
                                <span title="Length is the term used for identifying the size of an object or distance."
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid"> 
                                        <input type="text" asp-for="LengthA" value="3"
                                        data-bs-placement="right" data-bs-toggle="tooltip" id="txtEducation"
                                        title="Enter length" class="form-control" />
                                        <span id="lengthToMF" class="input-group-text text-primary">feet</span>
                                        @Html.ValidationMessageFor(m => m.LengthA, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--begin :input-->
                                </div>
                                <div class="col-sm-6">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid mt-1">
                                        <input type="text" asp-for="LengthB" value="0" id="txtLodging"
                                               data-bs-placement="right" data-bs-toggle="tooltip"
                                               title="Enter length" class="form-control" />
                                        <span id="lengthToCI" class="input-group-text text-primary">inch</span>
                                        @Html.ValidationMessageFor(m => m.LengthB, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--begin :input-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--begin :row 2 Length-->

                    <!--begin :row 3 Width-->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Width
                                <span title="depth is a measurement of how far back a three dimensional object is."
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="WidthA" value="4"
                                               title="Enter depth" class="form-control"
                                               data-bs-placement="right" data-bs-toggle="tooltip"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToMF" class="input-group-text text-primary">feet</span>
                                        @Html.ValidationMessageFor(m => m.WidthA, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--end :input-->
                                </div>
                                <div class="col-sm-6">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid mt-1">
                                        <input type="text" asp-for="WidthB" value="0"
                                               title="Enter depth" class="form-control"
                                               data-bs-placement="right" data-bs-toggle="tooltip"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToCI" class="input-group-text text-primary">inch</span>
                                        @Html.ValidationMessageFor(m => m.WidthB, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--end :input-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :row 3 Width -->

                    <!--begin :row 4 Tile Dimension-->
                    <div class="row input-group mt-1 mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-7">
                                Tile Dimension
                                <span title="Tile dimesion is the area of a tile which is length multiply by width in feet"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mx-1 fw-bolder">Length</div>
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="TileLength" value="2"
                                                   class="form-control" title="Enter length of brick"
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span  class="input-group-text text-primary">ft</span>
                                            @Html.ValidationMessageFor(m => m.TileLength, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <b>Width</b>
                                    </div>
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="TileWidth" value="2"
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   class="form-control" title="Enter Width of brick"
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span class="input-group-text text-primary">ft</span>
                                            @Html.ValidationMessageFor(m => m.TileWidth, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :row 4 Tile Dimension-->
                    <hr />
                    <!--begin :form submit-->

                    <div class="text-end">
                        <input onclick="updateChart()" type="submit" value="Submit" class="btn btn-primary btn-sm" />
                        <a asp-action="Index" asp-controller="FlooringCalculator" class="btn btn-danger btn-sm">reset</a>
                    </div>
                    <!--end :form submit-->
                </form>
                <!--end :form body-->
            </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
    <!--end: parameter-->

    <!--begin: ads-->
    <div class="col-md-5 mb-md-5 mb-xl-10 mb-3">
        <!--begin :card-->
        <div class="card shadow">
            <!--begin :card body-->
            <div class="card-body">
                <div class="row">
                    <img src="~/ClinetPanel/img/10319505722267397698.jpeg" />
                </div>
            </div>
            <!--end :card body-->
        </div>
        <!--end :card -->
    </div>
    <!--end: ads-->
</div>
