@model string
@using CivilCalc.DAL.CAL.CAL_Category;
@using CivilCalc.DAL.CAL.CAL_Calculator;
@using CivilCalc.DAL;

@{
    List<CivilCalc.DAL.CAL.CAL_Category.SelectAll_Result> MenuList = DBConfig.dbCALCategory.SelectAll().ToList();
    //List<SelectAll_Result> SubMenuList = DBConfig.dbCALCalculator.SelectAll().ToList();
}
<!--begin::Header-->
<div id="kt_app_header" class="app-header">
    <!--begin::Header container-->
    <div class="app-container container-xxl d-flex align-items-stretch justify-content-between">
        <!--begin::Logo-->
        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
            <a asp-controller="Home" asp-action="Index">
                <img alt="Logo" src="@Url.Content("~/ClinetPanel/img/Logo_CivilEngineeringCalculators.svg")" class="h-20px h-lg-30px app-sidebar-logo-default theme-light-show" />
                <img alt="Logo" src="@Url.Content("~/ClinetPanel/media/logos/default-dark.svg")" class="h-20px h-lg-30px app-sidebar-logo-default theme-dark-show" />
            </a>
        </div>
        <!--end::Logo-->
        <!--begin::Header wrapper-->
        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
            <!--begin::Menu wrapper-->
            <div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="{default: 'append', lg: 'prepend'}" data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
                <!--begin::Menu-->
                <div class="menu menu-rounded menu-column menu-lg-row my-5 my-lg-0 align-items-stretch fw-semibold px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true">
                    <!--begin:Menu item-->
                    @foreach (var item in MenuList)
                    {
                        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion menu-here-bg me-0 me-lg-2">
                            <!--begin:Menu link-->
                            <span class="menu-link">
                                    <span class="menu-title">@item.CategoryName</span>
                                    <span class="menu-arrow d-lg-none"></span>
                            </span>
                            @{
                                List<CivilCalc.DAL.CAL.CAL_Calculator.SelectForSearch_Result> SubMenuList = DBConfig.dbCALCalculator.SelectForSearch(item.CategoryID, "").ToList();
                            }
                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
                                <div class="menu-item">
                                    @foreach (var subitem in SubMenuList)
                                    {
                                    <a class="menu-link py-3" href="@subitem.URLName">
                                        <span class="menu-bullet">
                                            <span class="bullet bullet-dot"></span>
                                        </span>
                                        <span class="menu-title">
                                                @subitem.HeaderName
                                        </span>
                                    </a>
                                    }
                                </div>
                                
                            </div>
                            <!--end:Menu link-->
                        </div>
                    }
                    <!--end:Menu item-->
                   @* <!--begin:Menu item-->
                    <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                        <!--begin:Menu link-->
                        <span class="menu-link">
                            <span class="menu-title">Quantity Estimator</span>
                            <span class="menu-arrow d-lg-none"></span>
                        </span>
                        <!--end:Menu link-->
                        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown w-100 w-lg-600px p-5 p-lg-5">
                            <!--begin:Row-->
                            <div class="row" data-kt-menu-dismiss="true">
                                <!--begin:Col-->
                                <div class="col-lg-6 border-left-lg-1">
                                    <div class="menu-inline menu-column menu-active-bg">
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Construction Cost Estimator
                                                    Calculator
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Carpet Built Up Super Built
                                                    Up Area Calculator
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Cement Concrete
                                                    Calculator
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Plastering
                                                    Calculator
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">PCC Calculator</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="menu-link">
                                            <span class="menu-bullet">
                                                <span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">Flooring Calculator</span>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="menu-link">
                                            <span class="menu-bullet">
                                                <span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">Tank Volume Calculator</span>
                                        </a>
                                    </div>
                                    <div class="menu-item">
                                        <a href="#" class="menu-link">
                                            <span class="menu-bullet">
                                                <span class="bullet bullet-dot"></span>
                                            </span>
                                            <span class="menu-title">Paint Work Calculator</span>
                                        </a>
                                    </div>
                                </div>
                                <!--end:Col-->
                                <!--begin:Col-->
                                <div class="col-lg-6 border-left-lg-1">
                                    <div class="menu-inline menu-column menu-active-bg">
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">RCC Calculator</span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a asp-controller="BrickMasonryCalculator" asp-action="Index" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">Brick Calculator</span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Concrete Block
                                                    Calculator
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a asp-controller="AirConditionerSizeCalculator" asp-action="Index" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Air Conditioner Size
                                                    Calculator
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Stair Case
                                                    Calculator
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Precast (Readymade)
                                                    Compound Wall Calculator
                                                </span>
                                            </a>
                                        </div>


                                    </div>
                                </div>
                                <!--end:Col-->
                            </div>
                            <!--end:Row-->
                        </div>
                    </div>
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
                        <!--begin:Menu link-->
                        <span class="menu-link">
                            <span class="menu-title">Concrete Technology</span>
                            <span class="menu-arrow d-lg-none"></span>
                        </span>
                        <!--end:Menu link-->
                        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
                            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}"
                                 data-kt-menu-placement="right-start"
                                 class="menu-item menu-lg-down-accordion">
                                <span class="menu-link py-3">
                                    <span class="menu-title mx-1">Sieve Analysis of Aggregates</span>
                                </span>
                            </div>
                            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}"
                                 data-kt-menu-placement="right-start"
                                 class="menu-item menu-lg-down-accordion">
                                <span class="menu-link py-3">
                                    <span class="menu-title mx-1">Aggregate Impact Value</span>
                                </span>
                            </div>
                            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}"
                                 data-kt-menu-placement="right-start"
                                 class="menu-item menu-lg-down-accordion">
                                <span class="menu-link py-3">
                                    <span class="menu-title mx-1">Agregate Crushing Value</span>
                                </span>
                            </div>
                            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}"
                                 data-kt-menu-placement="right-start"
                                 class="menu-item menu-lg-down-accordion">
                                <span class="menu-link py-3">
                                    <span class="menu-title mx-1">Aggregate Water Absorption</span>
                                </span>
                            </div>
                            <div data-kt-menu-trigger="{default:'click', lg: 'hover'}"
                                 data-kt-menu-placement="right-start"
                                 class="menu-item menu-lg-down-accordion">
                                <span class="menu-link py-3">
                                    <span class="menu-title mx-1">Aggregate Abrasion Value</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
                        <!--begin:Menu link-->
                        <span class="menu-link">
                            <span class="menu-title">Geotechnical Engineering</span>
                            <span class="menu-arrow d-lg-none"></span>
                        </span>
                        <!--end:Menu link-->
                        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown w-100 w-lg-600px p-5 p-lg-5">
                            <!--begin:Row-->
                            <div class="row" data-kt-menu-dismiss="true">
                                <!--begin:Col-->
                                <div class="col-lg-6 border-left-lg-1">
                                    <div class="menu-inline menu-column menu-active-bg">
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Water Content
                                                    Determination
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Specific Gravity of
                                                    Soil
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Sieve analysis of
                                                    Soil
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Free Swell Index of
                                                    Soil
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">Liquid Limit of Soil</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--end:Col-->
                                <!--begin:Col-->
                                <div class="col-lg-6 border-left-lg-1">
                                    <div class="menu-inline menu-column menu-active-bg">
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Permeability By Falling
                                                    Head
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Permeability by Constant
                                                    Head
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Vane Shear Test
                                                    Calculator
                                                </span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">Direct Shear Test</span>
                                            </a>
                                        </div>
                                        <div class="menu-item">
                                            <a href="#" class="menu-link">
                                                <span class="menu-bullet">
                                                    <span class="bullet bullet-dot"></span>
                                                </span>
                                                <span class="menu-title">
                                                    Unconfined Compressive
                                                    Strength (UCS) Test
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--end:Col-->
                            </div>
                            <!--end:Row-->
                        </div>
                    </div>
                    <!--end:Menu item-->
                    <!--begin:Menu item-->
                    <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
                        <!--begin:Menu link-->
                        <span class="menu-link">
                            <span class="menu-title">Environmental Engineering</span>
                            <span class="menu-arrow d-lg-none"></span>
                        </span>
                        <!--end:Menu link-->
                        <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
                            <div class="menu-item">
                                <a class="menu-link py-3"
                                   href="../../demo1/dist/documentation/base/utilities.html">
                                    <span class="menu-title mx-1">
                                        Chemical Oxygen Demand (COD)
                                        Test
                                    </span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link py-3"
                                   href="https://preview.keenthemes.com/metronic8/demo1/layout-builder.html">
                                    <span class="menu-title mx-1">
                                        Biochemical Oxygen Demand (BOD)
                                        Test
                                    </span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link py-3"
                                   href="../../demo1/dist/documentation/getting-started.html">
                                    <span class="menu-title mx-1">Ammonical Nitrogen Test</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end:Menu item-->*@
                    <!--begin:Menu item-->
                    <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" class="menu-item here show">
                        <!--begin:Menu link-->
                        <span class="menu-link">
                            <span class="menu-title">Contact Us</span>
                            <span class="menu-arrow d-lg-none"></span>
                        </span>
                        <!--end:Menu link-->
                    </div>
                    <!--end:Menu item-->
                </div>
                <!--end::Menu-->
            </div>
            <!--end::Menu wrapper-->
            <!--begin::Navbar-->
            <div class="app-navbar flex-shrink-0">
                <!--begin::User menu-->
                <div class="app-navbar-item ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                </div>
                <!--end::User menu-->
                <!--begin::Header menu toggle-->
                <div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">
                    <div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle">
                        <!--begin::Svg Icon | path: icons/duotune/text/txt001.svg-->
                        <span class="svg-icon svg-icon-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 11H3C2.4 11 2 10.6 2 10V9C2 8.4 2.4 8 3 8H13C13.6 8 14 8.4 14 9V10C14 10.6 13.6 11 13 11ZM22 5V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4V5C2 5.6 2.4 6 3 6H21C21.6 6 22 5.6 22 5Z" fill="currentColor" />
                                <path opacity="0.3" d="M21 16H3C2.4 16 2 15.6 2 15V14C2 13.4 2.4 13 3 13H21C21.6 13 22 13.4 22 14V15C22 15.6 21.6 16 21 16ZM14 20V19C14 18.4 13.6 18 13 18H3C2.4 18 2 18.4 2 19V20C2 20.6 2.4 21 3 21H13C13.6 21 14 20.6 14 20Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                </div>
                <!--end::Header menu toggle-->
            </div>
            <!--end::Navbar-->
        </div>
        <!--end::Header wrapper-->
    </div>
    <!--end::Header container-->
</div>
<!--end::Header-->