@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel
@{
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
}
@{
    ViewBag.PageHeader = "Calculator " + @ViewBag.Action;
}
<div class="card  shadow-sm ">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Action Calculator</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title"></h4>
        <div class="">
            <form id="formAddEditSave_UMS" data="true" data-method="post" enctype="multipart/form-data"
                  asp-area="CAL_Calculator" asp-action="_Save" asp-controller="CAL_Calculator">
                @Html.HiddenFor(m => m.CalculatorID)
                @Html.HiddenFor(m => m.CalculatorIcon)
                <div class="row">
                     <div class="row">
                        <h4 class="title text-danger fw-bolder" >Calculator Details</h4><br />

                        <div class="row" id="1">

                            <div class="form-group col-md-4">
                            <label class="col-md-4 col-form-label required fs-5 fw-semibold mb-2">Calculator Name</label>

                            <input type="text" asp-for="CalculatorName" class="form-control form-control-solid" placeholder="Enter Calculator " />
                            @Html.ValidationMessageFor(m => m.CalculatorName, "", new { @class = "form-text text-danger" })

                        </div>

                            <div class="form-group col-md-4">
                            <label class="col-md-4 col-form-label required fs-5 fw-semibold mb-2">Category Name</label>
                           
                                <select autofocus class="form-select form-select-solid" asp-for="CategoryID" asp-items="@(new SelectList(ViewBag.CategoryList,"CategoryID","CategoryName"))"
                                        data-control="select2" data-placeholder="Select Category"
                                        data-allow-clear="true" data-select2-id="select1-data-12-kpd1"
                                        tabindex="-1" aria-hidden="true">
                                    <option value="1">Select Category</option>
                                </select>
                           
                        </div>

                            <div class="form-group col-md-4">
                            <label class="col-md-4 col-form-label required fs-5 fw-semibold mb-2">Calculator Icon</label>

                            <input type="file" asp-for="File" class="form-control form-control-solid" placeholder="Enter Calculator Icon " value="CalculatorIcon" />
                                @Html.ValidationMessageFor(m => m.CalculatorIcon, "", new { @class = "form-text text-danger" })
                            </div>
                       
                      </div>

                        <div class="row" id="2">

                        <div class="form-group col-md-4">
                            <label class="col-md-4 col-form-label required fs-5 fw-semibold mb-2">URL Name </label>

                            <input type="text" asp-for="URLName" class="form-control form-control-solid" placeholder="Enter URL Name " />
                                @Html.ValidationMessageFor(m => m.URLName, "", new { @class = "form-text text-danger" })
                            </div>
                       
                      </div>

                        <div class="row" id="3">

                        <div class="form-group col-md-6">
                            <label class="col-md-4 col-form-label required fs-5 fw-semibold mb-2">Header Name </label>

                            <input type="text" asp-for="HeaderName" class="form-control form-control-solid" placeholder="Enter Header Name " />
                                @Html.ValidationMessageFor(m => m.HeaderName, "", new { @class = "form-text text-danger" })
                          
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">SubHeader Name </label>

                            <input type="text" asp-for="SubHeaderName" class="form-control form-control-solid" placeholder="Enter SubHeader Name " />
                                @Html.ValidationMessageFor(m => m.SubHeaderName, "", new { @class = "form-text text-danger" })
                          
                        </div>
    

                      </div>
 
                        <div class="row" id="4">

                        <div class="form-group">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Calculator Description </label>

                            <textarea type="text" asp-for="CalculatorDescription" class="form-control form-control-solid" rows="4" placeholder="Enter Calculator Description "></textarea>
                                @Html.ValidationMessageFor(m => m.CalculatorDescription, "", new { @class = "form-text text-danger" })
                           
                        </div>


                      </div>
                    </div>

                    <div class="row mt-7">
                        <h4 class="title text-danger fw-bolder">Page Content</h4><br />

                       <div class="row" id="5">

                        <div class="form-group">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Page Section1  </label>

                            <textarea type="text" asp-for="PageSection1" class="form-control form-control-solid" rows="4" placeholder="Enter Page Section 1  "></textarea>
                                @Html.ValidationMessageFor(m => m.PageSection1, "", new { @class = "form-text text-danger" })
                           
                        </div>

                       </div>
              
                        <div class="row" id="6">
                        <div class="form-group">
                            <label class="col-md-4 col-form-label  fs-5 fw-semibold mb-2">Page Section2  </label>

                            <textarea type="text" asp-for="PageSection2" class="form-control  form-control-solid" rows="4" placeholder="Enter Page Section 2  "></textarea>
                                @Html.ValidationMessageFor(m => m.PageSection2, "", new { @class = "form-text text-danger" })
                            </div>
                       
             </div>

                      <div class="row" id="7">
                    <div class="form-group">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Page Section3  </label>
                        
                            <textarea type="text" asp-for="PageSection3" class="form-control form-control-solid" rows="4" placeholder="Enter Page Section 3  "></textarea>
                            @Html.ValidationMessageFor(m => m.PageSection3, "", new { @class = "form-text text-danger" })
                       
                    </div>
                    </div>
                    </div>

                    <div class="row mt-7">
                    <h4 class="title text-danger fw-bolder">Meta Details</h4><br />

                    <div class="row" id="8">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Meta Title</label>
                          
                                <input type="text" asp-for="MetaTitle" class="form-control form-control-solid" placeholder="Enter Meta Title" />
                                @Html.ValidationMessageFor(m => m.MetaTitle, "", new { @class = "form-text text-danger" })

                           </div>
                    </div>

                    <div class="row" id="9">
                        <div class="form-group">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Meta Keyword</label>

                            <textarea type="text" asp-for="MetaKeyword" class="form-control form-control-solid" rows="2" placeholder="Enter Meta Keyword"></textarea>
                            @Html.ValidationMessageFor(m => m.MetaKeyword, "", new { @class = "form-text text-danger" })

                        </div>
                    </div>

                    <div class="row" id="10">
                        <div class="form-group">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Meta Description </label>

                            <textarea type="text" asp-for="MetaDescription" class="form-control form-control-solid" rows="4" placeholder="Enter Meta Description"></textarea>
                                @Html.ValidationMessageFor(m => m.MetaDescription, "", new { @class = "form-text text-danger" })
                           
                        </div>
                    </div>

                    <div class="row" id="11">

                        <div class="form-group col-md-6">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Meta Author </label>

                            <input type="text" asp-for="MetaAuthor" class="form-control form-control-solid" placeholder="Enter Meta Author" />
                                @Html.ValidationMessageFor(m => m.MetaAuthor, "", new { @class = "form-text text-danger" })
                           
                        </div>

                         <div class="form-group col-md-6">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Meta Og Title </label>

                            <input type="text" asp-for="MetaOgTitle" class="form-control form-control-solid" placeholder="Enter Meta Og Title" />
                                @Html.ValidationMessageFor(m => m.MetaOgTitle, "", new { @class = "form-text text-danger" })
                           
                        </div>

                    </div>

                    <div class="row" id="12">
                            
                        <div class="form-group col-md-4">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Meta Og Image </label>

                            <input type="file" asp-for="MetaOgFile" class="form-control form-control-solid" placeholder="Enter Meta Og Image" value="MetaOgImage" />
                                @Html.ValidationMessageFor(m => m.MetaOgImage, "", new { @class = "form-text text-danger" })
                           
                        </div>

                    </div>

                    <div class="row" id="13">

                        <div class="form-group">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Meta Og Description</label>

                            <textarea type="text" asp-for="MetaOgDescription" class="form-control form-control-solid" rows="4" placeholder="Enter Meta Og Description"></textarea>
                                @Html.ValidationMessageFor(m => m.MetaOgDescription, "", new { @class = "form-text text-danger" })
                            
                        </div>

                    </div>

                    <div class="row" id="14">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Meta Og Url</label>

                            <input type="text" asp-for="MetaOgUrl" class="form-control form-control-solid" placeholder="Enter Meta Og Url" />
                                @Html.ValidationMessageFor(m => m.MetaOgUrl, "", new { @class = "form-text text-danger" })
                           
                        </div>

                        <div class="form-group col-md-6">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Meta Og Type</label>

                            <input type="text" asp-for="MetaOgType" class="form-control form-control-solid" placeholder="Enter Meta Og Type" />
                                @Html.ValidationMessageFor(m => m.MetaOgType, "", new { @class = "form-text text-danger" })
                           
                        </div>
                    </div>

                    <div class="row" id="15">
                        <div class="form-group col-md-6">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Sequence </label>

                            <input type="text" asp-for="Sequence" class="form-control form-control-solid" placeholder="Enter Sequence " />
                                @Html.ValidationMessageFor(m => m.Sequence, "", new { @class = "form-text text-danger" })
                           
                        </div>
                    </div>

                    <div class="row" id="16">

                        <div class="form-group">
                            <label class="col-md-4 col-form-label fs-5 fw-semibold mb-2">Description </label>

                            <textarea type="text" asp-for="Description" class="form-control form-control-solid" rows="4" placeholder="Enter Description "></textarea>
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "form-text text-danger" })
                            </div>
                      
                    </div>
                    </div>

                    <hr class="form-button-divider mt-2" />

                    <div class="row">
                        <div class="offset-md-4 col-md-8">
                            <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-form-submit" />
                            <a class="btn btn-light btn-sm" asp-area="CAL_Calculator" asp-action="Index" asp-controller="CAL_Calculator">Cancel</a>
                        </div>
                    </div>

                  </div>
            </form>
        </div>
    </div>
</div>

