@model CivilCalc.Models.PrecastBoundaryWallCalculator;

<div class="row gy-5 g-xl-8">
    <!--begin: parameter-->
    <div class="col-md-7 mb-md-5 mb-xl-10">
        <!--begin: card-->
        <div class="card shadow">
            <!--begin :card header-->
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(ViewBag.CalculatorIcon)" />
                    &nbsp;@ViewBag.CalculatorName
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body">
                <!--begin :form body-->
                <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                      asp-action="_Calculation" asp-controller="PrecastBoundaryWallCalculator" novalidate="novalidate">
                    @Html.AntiForgeryToken()

                    <!--begin :row 1  Unit-->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-2">
                                Unit
                                <span title="A unit may also mean the standard units used for measurement. For Ex. feet/inch &amp; meter/cm"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <!--begin :input-->
                            <select asp-for="UnitID"
                                    data-bs-placement="right" data-bs-toggle="tooltip" 
                                    title="Select Unit (Feet/Inch &amp; Meter/CM)" 
                                    class="form-select form-select-sm form-select-solid" id="ddlUnit" onchange="meterTofeet()"
                                    aria-label="Select example">
                                <option value="1" Selected="True">Meter/CM</option>
                                <option value="2" >Feet/Inch</option>
                            </select>
                            <!--end :input-->
                        </div>
                    </div>
                    <!--end :row 1  Unit-->
                    <!--begin :row 2 Length of Area -->
                    <div class="row input-group mt-1 mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-7">
                                Length of Area
                                <span title="Tile dimesion is the area of a tile which is length multiply by width in feet"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="row mx-1 fw-bolder">Area to be Covered By Precast Wall</div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="LengthA" value="2"
                                                   class="form-control" title="Enter length "
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span id="LengthofAreaToMF" class="input-group-text text-primary">meter</span>
                                            @Html.ValidationMessageFor(m => m.LengthA, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="LengthB" value="2"
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   class="form-control" title="Enter Width "
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span id="LengthofAreaToCI" class="input-group-text text-primary">cm</span>
                                            @Html.ValidationMessageFor(m => m.LengthB, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--begin :row 2 Length of Area-->

                    <!--begin :row 3 Height of Area-->
                    <div class="row input-group mt-1 mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label">
                                Height of Area
                                <span title="Tile dimesion is the area of a tile which is length multiply by width in feet"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="HeightA" value="2"
                                                   class="form-control" title="Enter length of brick"
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span id="HeightofAreaToMF" class="input-group-text text-primary">meter</span>
                                            @Html.ValidationMessageFor(m => m.HeightA, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="HeightB" value="2"
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   class="form-control" title="Enter Width of brick"
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span id="HeightofAreaToCI" class="input-group-text text-primary">cm</span>
                                            @Html.ValidationMessageFor(m => m.HeightB, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :row 3 Height of Area -->
                    <!--begin :row 4 Length of Bar   -->
                    <div class="row input-group mt-1 mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-7">
                                Length of Bar
                                <span title="Tile dimesion is the area of a tile which is length multiply by width in feet"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="row mx-1 fw-bolder">Area to be Covered By Precast Wall</div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="LengthofBarA" value="2"
                                                   class="form-control" title="Enter length of brick"
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span id="LengthofBarToMF" class="input-group-text text-primary">meter</span>
                                            @Html.ValidationMessageFor(m => m.LengthofBarA, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="LengthofBarB" value="2"
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   class="form-control" title="Enter Width of brick"
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span id="LengthofBarToCI" class="input-group-text text-primary">cm</span>
                                            @Html.ValidationMessageFor(m => m.LengthofBarB, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--begin :row 4 Length of Bar  -->
                    <!--begin :row 5 Height of Bar  -->
                    <div class="row input-group mt-1 mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label">
                                Height of Bar
                                <span title="Tile dimesion is the area of a tile which is length multiply by width in feet"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="HeightofBarA" value="2"
                                                   class="form-control" title="Enter length of brick"
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span id="HeightofBarToMF" class="input-group-text text-primary">meter</span>
                                            @Html.ValidationMessageFor(m => m.HeightofBarA, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <!--begin :input-->
                                        <div class="input-group input-group-sm input-group-solid">
                                            <input type="text" asp-for="HeightofBarB" value="2"
                                                   data-bs-toggle="tooltip" data-bs-placement="right"
                                                   class="form-control" title="Enter Width of brick"
                                                   aria-label="Amount (to the nearest dollar)" />
                                            <span id="HeightofBarToCI" class="input-group-text text-primary">meter</span>
                                            @Html.ValidationMessageFor(m => m.HeightofBarB, "", new { @class = "form-text text-danger" })
                                        </div>
                                        <!--end :input-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :row 5 Height of Bar -->

                    <hr />
                    <!--begin :form submit-->

                    <div class="text-end">
                        <input onclick="updateChart()" type="submit" value="Submit" class="btn btn-primary btn-sm" />
                        <a asp-action="Index" asp-controller="PrecastBoundaryWallCalculator" class="btn btn-danger btn-sm">reset</a>
                    </div>
                    <!--end :form submit-->
                </form>
                <!--end :form body-->
            </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
    <!--end: parameter-->

    <!--begin: ads-->
    <div class="col-md-5 mb-md-5 mb-xl-10 mb-3">
        <!--begin :card-->
        <div class="card shadow">
            <!--begin :card body-->
            <div class="card-body">
                <div class="row">
                    <img src="~/ClinetPanel/img/10319505722267397698.jpeg" />
                </div>
            </div>
            <!--end :card body-->
        </div>
        <!--end :card -->
    </div>
    <!--end: ads-->
</div>
