@model CivilCalc.Models.StairCaseCalculator;

<div class="row gy-5 g-xl-8">
    <!--begin: parameter-->
    <div class="col-md-7 mb-md-5 mb-xl-10">
        <!--begin: card-->
        <div class="card shadow">
            <!--begin :card header-->
            <div class="card-header">
                <h2 title="Stair Case Calculator" class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(ViewBag.CalculatorIcon)" />
                    &nbsp;@ViewBag.CalculatorName.ToUpper()
                </h2>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body">
                <!--begin :form body-->
                <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
                      data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
                      asp-action="_Calculation" asp-controller="StairCaseCalculator" novalidate="novalidate">
                    @Html.AntiForgeryToken()

                    <!--begin :row 1  Riser  -->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Riser
                                <span title="The rise, or height of a step is measured from the top of one tread to the top of the next tread. It is not the physical height of the riser"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>

                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="RiserA" value="0" data-bs-toggle="tooltip"
                                               title="Enter riser"
                                               class="form-control"/>
                                        <span id="lengthToMF" class="input-group-text text-primary">feet</span>
                                        @Html.ValidationMessageFor(m => m.RiserA, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--end :input-->
                                </div>
                                <div class="col-sm-6">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid mt-1">
                                        <input type="text" asp-for="RiserB" value="6"
                                               class="form-control" />
                                        <span id="lengthToCI" class="input-group-text text-primary">inch</span>
                                        @Html.ValidationMessageFor(m => m.RiserB, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--end :input-->
                                </div>
                            </div>
                            <!--end :input-->
                        </div>
                    </div>
                    <!--end :row 1  Length of Room-->
                    <!--begin :row 2 Tread -->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Tread
                                <span title="The tread or run is the part of the stairway that a person steps on. Its length is measured from the outer edge of the step"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="TreadA" value="1" data-bs-toggle="tooltip"
                                               title="Enter tread"
                                               class="form-control"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToMF" class="input-group-text text-primary">feet</span>
                                        @Html.ValidationMessageFor(m => m.TreadA, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--end :input-->
                                </div>
                                <div class="col-sm-6">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid mt-1">
                                        <input type="text" asp-for="TreadB"
                                               class="form-control" value="0"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToCI" class="input-group-text text-primary">inch</span>
                                        @Html.ValidationMessageFor(m => m.TreadB, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--end :input-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :row 2 Tread -->
                    <!--begin :row 3 Width of stair -->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Width of stair
                                <span title="Stair width is measured from edge to edge of each side of the tread, perpendicular to tread length. While measurements of length are conventionally longer than those of width when considering rectangles, in the case of steps, the width is usually the longer side."
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="WidthOfStair" value="4" data-bs-toggle="tooltip"
                                               title="Enter width of stair"
                                               class="form-control"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToMF" class="input-group-text text-primary">feet</span>
                                        @Html.ValidationMessageFor(m => m.WidthOfStair, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--end :input-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :row 3 Width of stair -->
                    <!--begin :row 4 Height of stair -->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Height of stair
                                <span title="the height between floors (or landings) that the flight of stairs is spanning."
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="HeightOfStair" value="10" data-bs-toggle="tooltip"
                                               title="Enter height of stair"
                                               class="form-control"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToMF" class="input-group-text text-primary">feet</span>
                                        @Html.ValidationMessageFor(m => m.HeightOfStair, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--end :input-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :row 4 Height of stair -->
                    <!--begin :row 5  Thickness of waist slab-->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Thickness of waist slab
                                <span title="Waist slab is nothing but a normal slab which is provided along the going(along the length of the stairs) to hold the stairs. Thickness of this slab is equivalent to the floor slab"
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--begin :input-->
                                    <div class="input-group input-group-sm input-group-solid">
                                        <input type="text" asp-for="WaistSlab" value="4" data-bs-toggle="tooltip"
                                               title="Enter thickness of waist slab"
                                               class="form-control"
                                               aria-label="Amount (to the nearest dollar)" />
                                        <span id="heightToCI" class="input-group-text text-primary">inch</span>
                                        @Html.ValidationMessageFor(m => m.WaistSlab, "", new { @class = "form-text text-danger" })
                                    </div>
                                    <!--end :input-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end :row 5  Thickness of waist slab-->
                    <!--begin :row 6 GradeID-->
                    <div class="row input-group mb-2">
                        <div class="col-md-4 text-end">
                            <label class="form-label mt-3">
                                Grade of Concrete
                                <span title="Grade of concrete is defined as the minimum strength the concrete must posses after 28 days of construction with proper quality control. Grade of concrete is denoted by prefixing M to the desired strength in MPa. For example, for a grade of concrete with 20 MPa strength, it will be denoted by M20, where M stands for Mix."
                                      data-bs-toggle="tooltip"
                                      data-bs-trigger="hover"
                                      data-bs-dismiss="click"
                                      data-bs-placement="bottom"
                                      class="fa fa-info-circle font-lg popovers mx-2 btn-circle"
                                      style="color: #39abde"></span>
                            </label>
                        </div>
                        <div class="col-md-8">
                            <!--begin :input-->
                            <select asp-for="GradeofConcrete" class="form-select form-select-sm form-select-solid" title="Select Grade of Concrete (M20(1:1.5:3), M15(1:2:4), M10(1:3:6), M7.5(1:4:8))"
                                    data-bs-toggle="tooltip" data-bs-placement="right" title="Select Ratio" aria-label="Select example">
                                <option value="5.5">M20 (1:1.5:3)</option>
                                <option value="7">M15 (1:2:4)</option>
                                <option value="10">M10 (1:3:6)</option>
                                <option value="13">M7.5 (1:4:8)</option>
                            </select>
                            <!--end :input-->
                        </div>
                    </div>
                    <!--end :row 6 GradeID-->
                    <hr />
                    <!--begin :form submit-->
                    <div class="text-end">
                        <input onclick="updateChart()" type="submit" value="Calculate" title="Calculate Stair Case" class="btn btn-primary btn-sm" />
                        <a asp-action="Index" asp-controller="StairCaseCalculator" title="Reset" class="btn btn-danger btn-sm">Reset</a>
                    </div>
                    <!--end :form submit-->
                </form>
                <!--end :form body-->
            </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
    <!--end: parameter-->

    <!--begin: ads-->
    <div class="col-md-5 mb-md-5 mb-xl-10 mb-3">
        <!--begin :card-->
        <div class="card shadow">
            <!--begin :card body-->
            <div class="card-body">
                <div class="row">
                    <img src="~/ClinetPanel/img/10319505722267397698.jpeg" />
                </div>
            </div>
            <!--end :card body-->
        </div>
        <!--end :card -->
    </div>
    <!--end: ads-->
</div>