@using System.Net;
@using CivilCalc.BAL
@using Microsoft.AspNetCore.Html;
@model CivilCalc.Areas.CAL_Calculator.Models.CAL_CalculatorModel;

<!-- begin : first table -->
<div class="row gy-5 g-xl-8">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <!--begin: total value -->
                    <div class="col-md-3 text-center">
                        <h5 class="card-title fw-bolder">Total Volume of Stair Case</h5>
                        <span class="text-danger fw-bolder m-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerStairCase_CubicMeterAndCMValue))</span><b>&&</b>
                        <span class="text-danger fw-bolder mx-1 font-md">@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAnswerStairCase_CubicFeetAndInchValue))</span>
                    </div>
                    <!--end: total value -->
                    <!--begin: table -->
                    <div class="col-md-5">
                        <div class="table-responsive">
                            <table class="table table-row-bordered">
                                <thead>
                                    <tr class="fw-bolder fs-6 text-gray-800">
                                        <th>Sr.</th>
                                        <th>Material</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <tr>
                                        <td>1</td>
                                        <td><img src="@CV.imgCement" style="width:25px;border-width:0px;">Cement</td>
                                        <td>@ViewBag.lblAnswerCement</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><img src="@CV.imgSand" style="width:25px;border-width:0px;">Sand</td>
                                        <td>@ViewBag.lblAnswerSand</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><img src="@CV.imgAggregate" style="width:25px;border-width:0px;">Aggregate</td>
                                        <td>@ViewBag.lblAnswerAggregate</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--end: table -->
                    <div class="col-md-4">
                        <!--begin::Card body-->
                        <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
                            <!--begin::Chart-->
                            <style>
                                .chart-container {
                                    position: relative;
                                    margin: auto;
                                    height: 20vh;
                                    width: 20vw;
                                }
                            </style>
                            <div class="chart-container">
                                <canvas id="myChart"></canvas>
                            </div>
                            <!--end::Chart-->
                        </div>
                        <!--end::Card body-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end : first table-->

<!-- begin : calculation steps  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-lg-12">
        <div class="card shadow-sm table-responsive">
            <div class="card-header">
                <h3 class="card-title">
                    <img class="img-fluid"
                         style="width: 16px"
                         src="@Url.Content(Model.CalculatorIcon)" />
                    &nbsp;@Model.CalculatorName
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblVolumeofStep))</label>
                        </blockquote>

                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblVolumeofWaistSlab))</label>

                        </blockquote>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblVolumeofStair))</label>
                        </blockquote>

                    </div>
                    <div class="col-md-5">
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblDryVolumeofStair))</label>

                        </blockquote>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="bold">
                            <img src="@CV.imgCement" style="width:25px;border-width:0px;">
                            Amount of Cement Required
                        </h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblCementFormula))</label>
                        </blockquote>
                        <div class="alert alert-block alert-success text-center" style="margin: 10px;">
                            <strong>Note: </strong>1 Bag of cement <strong>= 0.035 m<sup>3</sup>.</strong>
                            <br />
                            1 Cement bag contains <strong>= 50 kg cement</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">
                            <img src="@CV.imgSand" style="width:25px;border-width:0px;">
                            Amount of Sand Required
                        </h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblSandFormula))</label>
                        </blockquote>
                        <div class="alert alert-block alert-success text-center">
                            <strong>Note: </strong>By considering dry loose bulk density of sand <strong>= 1550 kg/m<sup>3</sup>.</strong>
                            <br />
                            <strong>1000 kg = 1 Ton</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="bold">
                            <img src="@CV.imgAggregate" style="width:25px;border-width:0px;">
                            Amount of Aggregate Required
                        </h4>
                        <blockquote>
                            <label>@Html.Raw(WebUtility.HtmlDecode(ViewBag.lblAggregateFormula))</label>

                        </blockquote>
                        <div class="alert alert-block alert-success text-center">
                            <strong>Note: </strong>By considering dry loose bulk density of aggregate <strong>= 1350 kg/m<sup>3</sup>.</strong>
                            <br />
                            <strong>1000 kg = 1 Ton</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end : calculation steps -->

<!-- begin : Page setiion 1  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-md-12">
        <!--begin: card-->
        <div class="card shadow-sm">
            <!--begin :card header-->
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What is stair case calculation?
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body">
                <div class="row">
                    <!--begin :main section-->
                    <div class="col-md-6">
                        <p>A staircase or stairway is one or more flights of stairs leading from one floor to another, and includes landings, newel posts, handrails, balustrades and additional parts. A stairwell is a compartment extending vertically through a building in which stairs are placed. A stair hall is the stairs, landings, hallways, or other portions of the public hall through which it is necessary to pass when going from the entrance floor to the other floors of a building.</p>

                        <p>staircase consists basically of a series of steps, which in turn consist of a tread (the horizontal part, where the foot will rest) and a riser (the vertical part). Although it can vary in its design, each step must also have one or more landings.</p>

                    </div>
                    <div class="col-md-6" align="center">
                       
                        <img class="mw-100 mh-300px card-rounded-bottom mt-2"
                             alt="Stair Case Calculator" title="Stair case calculator" data-bs-toggle="tooltip"
                             src="~/ClinetPanel/img/Quantity-Estimator/stair_case_fig.png" />
                    </div>
                    <!--end :main section-->
                </div>

                <hr />
             
                
        </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
</div>
<!-- end : Page setiion 1   -->

<!-- begin : Page setiion 2  -->
<div class="row gy-5 g-xl-8 mt-1">
        <div class="col-md-12">
        <!--begin: card-->
            <div class="card shadow-sm">
            <!--begin :card header-->
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                        &nbsp;Air Conditioning British Thermal Units (AC BTUs)?
                    </h3>
                </div>
            <!--end :card header-->
            <!--begin :card body-->
                <div class="card-body">
                    <div class="row">
                    <!--begin :main section-->
                        <div class="col-md-12">
                        <ul>
                            <li><strong>Run/Tread:</strong>&nbsp;The run or tread is the part of the stairway that a person steps on. Its length is measured from the outer edge of the step, which includes the nosing if it is present, to the vertical portion of the stair called the riser. Both nosing and riser are discussed below. When measuring total run of a staircase, the length of the tread above the last riser is not included in the measurement. Also, when nosing is present, total run is not simply the sum of tread length, since the overhang caused by the nosing must be subtracted from the total run.The dimension ranges from 270 mm for residential buildings and factories to 300 mm for public buildings where large number of persons use the staircase.</li>
                            <li><strong>Rise/Riser:</strong>&nbsp;The rise, or height of a step is measured from the top of one tread to the top of the next tread. It is not the physical height of the riser because this excludes the thickness of the tread. The number of risers, not the number of treads, is used to determine the number of steps that comprise a staircase.The dimension of the riser ranges from 150 mm for public buildings to 190 mm for residential buildings and factories.</li>
                            <li><strong>Waist slab:</strong>&nbsp;Waist slab is nothing but a normal slab which is provided along the going(along the length of the stairs) to hold the stairs. Thickness of this slab is equivalent to the floor slab</li>
                            <li><strong>Stair width:</strong>&nbsp;Stair width is measured from edge to edge of each side of the tread, perpendicular to tread length. While measurements of length are conventionally longer than those of width when considering rectangles, in the case of steps, the width is usually the longer side. Stair width does not include handrails.</li>
                            <li><strong>Width of stair:</strong>&nbsp;Stair width is measured from edge to edge of each side of the tread, perpendicular to tread length. While measurements of length are conventionally longer than those of width when considering rectangles, in the case of steps, the width is usually the longer side.</li>
                            <li><strong>Height of stair:</strong>&nbsp;the height between floors (or landings) that the flight of stairs is spanning.</li>
                            <li>
                                <strong>General guidelines:</strong>
                                <ul>
                                    <li>The respective dimensions of tread and riser for all the parallel steps should be the same in consecutive floor of a building.</li>
                                    <li>The minimum vertical headroom above any step should be 2 m.</li>
                                    <li>Generally, the number of risers in a flight should be restricted to twelve.</li>
                                    <li>The minimum width of stair should be 850 mm, though it is desirable to have the width between 1.1 to 1.6 m. In public building, cinema halls etc., large widths of the stair should be provided.</li>
                                    <li>Also angle of inclination is not more than 40 degree to horizontal.</li>
                                </ul>
                            </li>
                        </ul>


                    </div>
                    <!--end :main section-->
                    </div>
                </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
    </div>
<!-- end : Page setiion 2   -->

<!-- begin : Page setiion 3  -->
<div class="row gy-5 g-xl-8 mt-1">
    <div class="col-md-12">
        <!--begin: card-->
        <div class="card shadow-sm">
            <!--begin :card header-->
            <div class="card-header">
                <h3 class="card-title">
                    <span class="fa fa-info-circle font-lg popovers btn-circle"></span>
                    &nbsp;What are the important stair case?
                </h3>
            </div>
            <!--end :card header-->
            <!--begin :card body-->
            <div class="card-body">
                <div class="row">
                    <!--begin :main section-->
                    <div class="col-md-6">
                        <p>The primary purpose of stairs is to provide a simple and easy means of moving between levels. In ancient times, houses and shelters were made up of only one storey, but it was realised that the area above ground level could be utilised to increase the amount of space a structure could offer. Stairs enabled users of these buildings to quickly and effectively access upper levels; as buildings grew, the staircase swiftly became more necessary. Nowadays, stairs can be made even more accessible to people with all levels of physical ability through the installation of stairlifts and ramps.</p>


                    </div>
                    <div class="col-md-6">
                        <img class="mw-100 mh-300px card-rounded-bottom mt-2"
                             alt="Stair Case" title="Stair case calculator" data-bs-toggle="tooltip"
                             src="~/ClinetPanel/img/Quantity-Estimator/stair_case.jpg" />
                    </div>
                    <!--end :main section-->
                </div>
            </div>
            <!--end :card body-->
        </div>
        <!--end: card-->
    </div>
</div>
<!-- end : Page setiion 3  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
    // get the canvas element and its context
    var ctx = document.getElementById('myChart').getContext('2d');

    // create the chart with data and options
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Cement', 'Sand', 'Aggregate'],
            datasets: [{
                label: 'Asp dataset',
                data: [@ViewBag.ChartCementBag, @ViewBag.ChartSandInTon, @ViewBag.ChartAggregateInTon],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.7)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.9)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
