@model CivilCalc.Areas.MST_Configuration.Models.MST_ConfigurationModel

<div class="modal-header">
    <h4 class="modal-title">@ViewBag.Action </h4>
    <button type="button" class="btn btn-danger btn-elevate btn-icon btn-sm" data-bs-dismiss="modal" aria-label="Close">
        <i class="fa fa-close"></i>
    </button>
</div>

<div class="modal-body">
    <form id="formAddEditSave_UMS" data-ajax="true" data-ajax-method="post"
          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
          asp-area="MST_Configuration" asp-action="_Save" asp-controller="MST_Configuration">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ConfigurationID)

        <div class="form-group row">
            <label class="col-md-4 col-form-label required">WebsiteLogoPath</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="WebsiteLogoPath" class="form-control" placeholder="Enter WebsiteLogoPath" />
                @Html.ValidationMessageFor(m => m.WebsiteLogoPath, "", new { @class = "form-text text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label required">MetaTitle</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="MetaTitle" class="form-control" placeholder="Enter MetaTitle" />
                @Html.ValidationMessageFor(m => m.MetaTitle, "", new { @class = "form-text text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">MetaKeyword</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="MetaKeyword" class="form-control" placeholder="Enter MetaKeyword" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">MetaDescription</label>
            <div class="col-md-5  p-2">
                <textarea type="text" asp-for="MetaDescription" class="form-control" placeholder="Enter MetaDescription"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">MetaAuthor</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="MetaAuthor" class="form-control" placeholder="Enter MetaAuthor" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">MetaOgTitle</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="MetaOgTitle" class="form-control" placeholder="Enter MetaOgTitle" />
            </div>
        </div>

        <div class="form-group row"> 

            <label class="col-md-4 col-form-label">MetaOgImage</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="MetaOgImage" class="form-control" placeholder="Enter MetaOgImage" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">MetaOgDescription</label>
            <div class="col-md-5  p-2">
                <textarea type="text" asp-for="MetaOgDescription" class="form-control" placeholder="Enter MetaOgDescription" ></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">MetaOgUrl</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="MetaOgUrl" class="form-control" placeholder="Enter MetaOgUrl" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">MetaOgType</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="MetaOgType" class="form-control" placeholder="Enter MetaOgType" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">AboutWebsite</label>
            <div class="col-md-5  p-2">
                <textarea type="text" asp-for="AboutWebsite" class="form-control" placeholder="Enter AboutWebsite" ></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">MobileAppDetail</label>
            <div class="col-md-5  p-2">
                <textarea type="text" asp-for="MobileAppDetail" class="form-control" placeholder="Enter MobileAppDetail" ></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">PlayStoreURL</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="PlayStoreURL" class="form-control" placeholder="Enter PlayStoreURL" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">AppStoreURL</label>
            <div class="col-md-5  p-2">
                <input type="text" asp-for="AppStoreURL" class="form-control" placeholder="Enter AppStoreURL" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">FooterHTML</label>
            <div class="col-md-5  p-2">
                <textarea type="text" asp-for="FooterHTML" class="form-control" placeholder="Enter FooterHTML" ></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label">Description</label>
            <div class="col-md-5  p-2">
                <textarea type="text" asp-for="Description" class="form-control" placeholder="Enter Description" ></textarea>
            </div>
        </div>

        <hr class="form-button-divider" />
        <div class="row">
            <div class="offset-md-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-modal-form-submit" />
                <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>